---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import HeaderBanner from "../../components/HeaderBanner.astro";
const frontmatter = {
  title: "Nuestros Servicios",
  description: "Potenciando tu Éxito con Herramientas de Desoutter en México",
  keywords: ["Palabra Clave 1", "Palabra Clave 2", "Palabra Clave 3"],
  name: "Nombre del Autor",
  language: "es",
  url: "URL_canónica_de_la_Página",
  facebookTitle: "Título para Compartir en Facebook",
  facebookDescription: "Descripción para Compartir en Facebook",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Título para Compartir en Twitter",
  twitterDescription: "Descripción para Compartir en Twitter",
  twitterImage: "URL_de_la_Imagen_para_Twitter",
};

const image = "https://img.freepik.com/fotos-premium/collage-arte-manos-herramientas-fondo-surrealista-iconos-busqueda-internet_94558-7809.jpg?w=1380";
const services = await getCollection("servicio");
---

<Base frontmatter={frontmatter}>
  <header class="sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16">
    <HeaderBanner
      title={frontmatter.title}
      description={frontmatter.description}
      image={image}
    />
  </header>
  <section class="mt-8 bg-gray-100 dark:bg-gray-900 sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl pb-16 sm:pb-32 lg:max-w-none lg:pb-24">
        <div
          class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0"
        >
          {
            services.map((service) => (
            <a href={`${import.meta.env.BASE_URL}servicios/${service.slug}/`}>
              <article class="group relative">
                <figure class="relative mb-4 h-full w-full overflow-hidden bg-red-100 sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 dark:bg-red-600 sm:h-64">
                  <img
                    src={service.data.image}
                    alt={service.data.description}
                    class="h-full w-full object-cover object-center"
                    loading="lazy"
                  />
                </figure>
                <h3 class="inline-block rounded bg-red-600 px-3 py-1 text-xs font-medium uppercase tracking-tight text-white hover:bg-slate-600">
                    {service.data.title}
                </h3>
                <p class="text-base text-gray-900 dark:text-gray-400">
                  {service.data.description}
                </p>
              </article>
            </a>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Base>
