---
import Icon from "astro-icon";
const {productModel} = Astro.props;
const {categoryId, categoryName, subcategoryId, subcategoryName, subsubcategoryId, subsubcategoryName, subsubsubcategoryId, subsubsubcategoryName, productId, productName} = Astro.params;
import { quoteRequest } from '../../api/emailAPI.js'
const baseTools = `${import.meta.env.BASE_URL}herramientas/${categoryId}/${categoryName}/${subcategoryId}/${subcategoryName}`
const baseSubsub = `/${subsubcategoryId}/${subsubcategoryName}`
const baseSubsubsub = `/${subsubsubcategoryId}/${subsubsubcategoryName}`
const baseProduct = `/p/${productId}/${productName}`
let urlFinal = baseTools;
if (subsubcategoryId) {
    urlFinal = baseTools + baseSubsub + baseProduct;
} else if (subsubsubcategoryId){
    urlFinal = baseTools + baseSubsub + baseSubsubsub + baseProduct
} else {
    urlFinal += baseProduct; 
}

const errors = { 
    floating_tool_quote: '',
    floating_quantity_quote: '',
    floating_name_quote: '',
    floating_phone_quote: '',
    floating_company_quote: '',
    floating_message_quote: ''
}

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData()
    const floating_tool_quote = data.get('floating_tool_quote')
    const floating_quantity_quote = data.get('floating_quantity_quote')
    const floating_email_quote = data.get('floating_email_quote')
    const floating_name_quote = data.get('floating_name_quote')
    const floating_phone_quote = data.get('floating_phone_quote')
    const floating_company_quote = data.get('floating_company_quote')
    const floating_message_quote = data.get('floating_message_quote')

    if (typeof name !== 'string' || name.length < 1) {
      errors.floating_name_quote += 'Ingresa tu nombre completo. '
    }
    const dataContact = {
      floating_tool_quote,
      floating_quantity_quote,
      floating_email_quote,
      floating_name_quote,
      floating_phone_quote,
      floating_company_quote,
      floating_message_quote,
    }
    // console.log(dataContact)
    quoteRequest(urlFinal, dataContact);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<!-- Modal toggle -->
<button type="button" id="btn-quote" class="block w-full text-white bg-[#E40520] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium text-sm px-5 py-1 text-center dark:bg-red-600 dark:hover:bg-[#E40520] dark:focus:ring-red-800">
    <div class="flex items-center space-x-2">
        <Icon pack="ph" name="calculator-fill" class="h-8 w-8 text-white" />
        <span>Obtener una cotización</span>
    </div>
</button>

<!-- Main modal -->
<!-- agregar flex para centrar -->
<div id="form-quote" class="fixed hidden justify-center items-center bg-white bg-opacity-70 top-0 bottom-0 left-0 right-0 z-50 w-full overflow-x-hidden overflow-y-auto md:inset-0 max-h-screen">
    <div class="relative border shadow-[0px_0px_10px_10px_rgba(0,0,0,0.3)] w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white shadow dark:bg-gray-700">
            <button type="button" id="btn-close-quote" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <Icon pack="ic" name="baseline-close" class="h-8 w-8" />
                  <span class="sr-only">Cerrar formulario</span>
              </button>
              <div class="px-6 py-6 lg:px-8">
                    <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Solicitud de cotización</h3>
                    <form method="post">

                        <fieldset class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 w-full mb-6 group">
                                <input type="text" name="floating_tool_quote" id="floating_tool_quote" value={productModel} class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" required>
                                <label for="floating_tool_quote" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Herramienta</label>
                            </div>
                            {errors.floating_tool_quote && <p class='text-red-500'>{errors.floating_tool_quote}</p>}

                            <div class="relative z-0 w-full mb-6 group">
                                <input type="number" name="floating_quantity_quote" id="floating_quantity_quote" min="1" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" value="1" required>
                                <label for="floating_quantity_quote" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Cantidad</label>
                            </div>
                            {errors.floating_quantity_quote && <p class='text-red-500'>{errors.floating_quantity_quote}</p>}
                        </fieldset>

                        <div class="relative z-0 w-full mb-6 group">
                            <input type="email" name="floating_email_quote" id="floating_email_quote" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                            <label for="floating_email_quote" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dirección de correo electrónico</label>
                        </div>
                        {errors.floating_email_quote && <p class='text-red-500'>{errors.floating_email_quote}</p>}
                        <fieldset class="grid md:grid-cols-1 md:gap-6">
                            <div class="relative z-0 w-full mb-6 group">
                                <input type="text" name="floating_name_quote" id="floating_name_quote" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                                <label for="floating_name_quote" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 -top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-[0.5]">Nombre completo</label>
                                {errors.floating_name_quote && <p class='text-red-500'>{errors.floating_name_quote}</p>}
                            </div>
                        </fieldset>

                        <fieldset class="grid md:grid-cols-2 md:gap-6">
                            <div class="relative z-0 w-full mb-6 group">
                                <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="floating_phone_quote" id="floating_phone_quote" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder="ej. 123 456 7890" required />
                                <label for="floating_phone_quote" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-[0.5] scale-75 -top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-0">Número telefónico</label>
                            </div>
                            {errors.floating_phone_quote && <p class='text-red-500'>{errors.floating_phone_quote}</p>}
                            <div class="relative z-0 w-full mb-6 group">
                                <input type="text" name="floating_company_quote" id="floating_company_quote" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                                <label for="floating_company_quote" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Empresa</label>
                            </div>
                            {errors.floating_company_quote && <p class='text-red-500'>{errors.floating_company_quote}</p>}
                        </fieldset>

                        <fieldset>
                            <div class="relative z-0 w-full mb-6 group">
                                <textarea name="floating_message_quote" id="floating_message_quote" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required cols="30" rows="10"></textarea>
                                <label for="floating_message_quote" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mensaje</label>
                            </div>
                            {errors.floating_message_quote && <p class='text-red-500'>{errors.floating_message_quote}</p>}
                        </fieldset>

                        <button type="submit" class="text-white bg-[#E40520] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-[#E40520] dark:focus:ring-red-800">Enviar</button>
                    </form>
                </div>
          </div>
      </div>
  </div>
  
  <script>
     function init() { 
        const btnQuote = document.querySelector("#btn-quote"); 
        const formQuote = document.querySelector("#form-quote"); 
        const btnCloseQuote = document.querySelector("#btn-close-quote");

        btnQuote?.addEventListener('click', ()=>{
            formQuote?.classList.replace('hidden', 'flex');
        });

        btnCloseQuote?.addEventListener('click', ()=>{
            formQuote?.classList.replace('flex','hidden');
        })


        document.getElementById('floating_phone_quote').addEventListener('input', function (e) {
        // Eliminar cualquier caracter que no sea un número
        const phoneNumber = e.target.value.replace(/\D/g, '').slice(0, 10);

        // Aplicar el formato
        let formattedPhoneNumber = '';
        for (let i = 0; i < phoneNumber.length; i++) {
                if (i === 3 || i === 6) {
                    formattedPhoneNumber += '-';
                }
                formattedPhoneNumber += phoneNumber[i];
            }

            // Actualizar el valor del campo de entrada
            e.target.value = formattedPhoneNumber;
        });

    }
    window.onload = init;
    document.addEventListener('DOMContentLoaded', init);
    init();
    document.addEventListener('astro:after-swap', init);
    
  </script>
  