---
import CTA1 from '@components/CTA1.astro';
import Product from '@components/herramientas/Product.astro';
import BaseReCaptcha from '@layouts/BaseReCaptcha.astro';
const desoutterAPI = import.meta.env.PUBLIC_DESOUTTER_API || "https://7yc636gsjj.execute-api.us-east-1.amazonaws.com/prod";
const {categoryId, categoryName, subcategoryId, subcategoryName,subsubcategoryId, subsubcategoryName, productId, productName} = Astro.params;

// Función para realizar la petición fetch por categoría
async function getProduct(categoryId:String|undefined, categoryName:String|undefined, subcategoryId:String|undefined, subcategoryName:String|undefined, subsubcategoryId:String|undefined, subsubcategoryName:String|undefined, productId:String|undefined, productName:String|undefined) {
  try {
    const response = 
    await fetch(`${desoutterAPI}/herramientas/${categoryId}/${categoryName}/${subcategoryId}/${subcategoryName}/${subsubcategoryId}/${subsubcategoryName}/p/${productId}/${productName}`);
    if (!response.ok) {
        // Si la respuesta no es exitosa, lanzar un error con el status
        throw new Error(`HTTP error! Status: ${response.status}`);
    }
    return response.json();
  } catch (error) {
     // Afirmación de tipo para indicar que 'error' es de tipo 'Error'
    console.error('Error en la solicitud:', (error as Error).message);
  }
}

// Realiza la petición fetch y almacena los datos en el objeto

const product = (productName !== '[object Object]') ?
await getProduct(categoryId, categoryName, subcategoryId, subcategoryName, subsubcategoryId, subsubcategoryName, productId, productName).catch((error)=>{
    console.log('No hay herramientas en esta sección');
    console.error(error);
   }) : {};


const frontmatter = {
  title: "Desoutter Tools México Herramientas " + product.pathName,
  description: product.Descripción,
  keywords: [product['Peso neto'], product['Peso sin batería'], product['Tipo de herramienta']],
  name: "Nombre del Autor",
  language: "es",
  url: import.meta.env.BASE_URL+"herramientas/",
  facebookTitle: "Herramienta " + product.pathName + product['Tipo de herramienta'],
  facebookDescription: product.Descripción,
  facebookImage: product.image, 
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Herramienta " + product.pathName + product['Tipo de herramienta'],
  twitterDescription: product.Descripción,
  twitterImage: product.image, 
}
---

<BaseReCaptcha frontmatter={frontmatter}>
    <section>
      <Product product={product} />
    </section>
    <footer>
      <CTA1
      title="¿Necesitas herremientas?" subtitle="Busca y obtiene todo lo que necesitas." 
      btn1="Cotizar"
      btn2="Contáctanos"
      href1="contacto/cotizar"
      href2="contacto" 
      />
    </footer>
</BaseReCaptcha>