---
import CTA from '../../../../../../../../../../../components/CTA.astro';
import Product from '../../../../../../../../../../../components/herramientas/Product.astro';
import BaseReCaptcha from '../../../../../../../../../../../layouts/BaseReCaptcha.astro';
const desoutterAPI = import.meta.env.PUBLIC_DESOUTTER_API || "https://7yc636gsjj.execute-api.us-east-1.amazonaws.com/prod";
const {categoryId, categoryName, subcategoryId, subcategoryName,subsubcategoryId, subsubcategoryName, productId, productName} = Astro.params;

// Función para realizar la petición fetch por categoría
async function getProduct(categoryId, categoryName, subcategoryId, subcategoryName, subsubcategoryId, subsubcategoryName, productId, productName) {
  const response = 
  await fetch(`${desoutterAPI}/herramientas/${categoryId}/${categoryName}/${subcategoryId}/${subcategoryName}/${subsubcategoryId}/${subsubcategoryName}/p/${productId}/${productName}`);
  return response.json();
}

// Realiza la petición fetch y almacena los datos en el objeto
const product = await getProduct(categoryId, categoryName, subcategoryId, subcategoryName, subsubcategoryId, subsubcategoryName, productId, productName);
// console.log(product);

const frontmatter = {
  title: "Desoutter México Herramientas " + product.pathName,
  description: product.Descripción,
  keywords: [product['Peso neto'], product['Peso sin batería'], product['Tipo de herramienta']],
  name: "Nombre del Autor",
  language: "es",
  url: import.meta.env.BASE_URL+"herramientas/",
  facebookTitle: "Herramienta " + product.pathName + product['Tipo de herramienta'],
  facebookDescription: product.Descripción,
  facebookImage: product.image, 
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Herramienta " + product.pathName + product['Tipo de herramienta'],
  twitterDescription: product.Descripción,
  twitterImage: product.image, 
}
---

<BaseReCaptcha frontmatter={frontmatter}>
    <section>
      <Product product={product} />
    </section>
    <footer>
      <CTA />
    </footer>
</BaseReCaptcha>