---
export interface Props {
  title: string
  description?: Array<String>
  image?: string
  imageDescription?: string 
}

const { title, description, image, imageDescription } = Astro.props
---

<section
  class='relative mx-auto w-full max-w-[1140px] min-w-[280px] dark:bg-slate-800 max-[705px]:my-5 my-10'
>
  <article class='h-full'>
    
    <section
      class='top-0 z-20 flex w-full justify-center items-center bg-white bg-opacity-10'
    >
      <div class='flex justify-center items-center'>
        <header class="absolute left-5 top-1 max-w-[480px] max-[400px]:max-w-[148px]">
          <h2 class='border-b border-red-500 text-red-500 max-[400px]:text-xs lg:text-lg xl:text-3xl font-bold leading-tight'>
              {title}
          </h2>
          <p class="text-sm font-semibold text-gray-800 dark:text-white max-[400px]:text-[10px] max-[400px]:max-w-[120px]">prepárate para mejorar en tu industria</p>
          
          <div class="text-sm font-medium text-gray-500 dark:text-white max-[600px]:hidden">
            {description?.map((p)=>(
              <p>{p}</p><br />
            ))}
          </div>

          <div class="py-2">
            <a href={import.meta.env.BASE_URL + "contacto/servicios"} class="px-2 py-2 bg-red-500 hover:bg-red-400 text-white text-base max-[600px]:text-xs font-bold">
              ¡Sólicitalo ya!
            </a>
          </div>
        </header>
        <figure class='flex items-center justify-center h-full w-full max-[1124px]:mx-4'>
          {
            image && (
              <img src={image} alt={imageDescription} title={title} class='object-contain h-full w-full' />
            )
          }
        </figure>
      </div>
      <slot />
    </section>
  </article>
</section>
