---
import CategoriesList from '../../components/CategoriesList.astro';
import Base from '../../layouts/Base.astro'

const frontmatter = {
  title: "Herramientas",
  description: "Descripción de la Página",
  keywords: ["Palabra Clave 1", "Palabra Clave 2", "Palabra Clave 3"],
  name: "Nombre del Autor",
  language: "es",
  url: "URL_canónica_de_la_Página",
  facebookTitle: "Título para Compartir en Facebook",
  facebookDescription: "Descripción para Compartir en Facebook",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Título para Compartir en Twitter",
  twitterDescription: "Descripción para Compartir en Twitter",
  twitterImage: "URL_de_la_Imagen_para_Twitter"
}

const categories = [
    {
        "id": 1,
        "name": "Herramientas de montaje de batería",
        "description": "",
        "href": "/herramientas/1/herramientas-de-montaje-de-bateria"
    },
    {
        "id": 2,
        "name": "Smart Hub Industrial ",
        "description": "",
        "href": "/herramientas/2/smart-hub-industrial"
    },
    {
        "id": 3,
        "name": "Sistemas de montaje eléctricos",
        "description": "",
        "href": "/herramientas/3/sistemas-de-montaje-electricos"
    },
    {
        "id": 4,
        "name": "destornilladores eléctricos",
        "description": "",
        "href": "/herramientas/4/destornilladores-electricos"
    },
    {
        "id": 5,
        "name": "Herramientas de sujeción neumáticas",
        "description": "",
        "href": "/herramientas/5/herramientas-de-sujecion-neumaticas"
    },
    {
        "id": 6,
        "name": "Sistemas de medición de torque",
        "description": "Garantiza la precisión del torque de herramientas eléctricas y neumáticas durante las tareas de apriete de calidad crítica. Optimiza el rendimiento de la herramienta reduciendo costes de calidad en la...",
        "href": "/herramientas/6/sistemas-de-medicion-de-torque"
    },
    {
        "id": 7,
        "name": "Control de Procesos - Pivotware",
        "description": "",
        "href": "/herramientas/7/control-de-procesos-pivotware"
    },
    {
        "id": 8,
        "name": "Reporte en tiempo real y trazabilidad",
        "description": "",
        "href": "/herramientas/8/reporte-en-tiempo-real-y-trazabilidad"
    },
    {
        "id": 9,
        "name": "Soluciones para aplicaciones de barrenado",
        "description": "Wide range solutions for drilling applications, from manual to robotics applications.",
        "href": "/herramientas/9/soluciones-para-aplicaciones-de-barrenado"
    },
    {
        "id": 10,
        "name": "Tapping y remachado",
        "description": "",
        "href": "/herramientas/10/tapping-y-remachado"
    },
    {
        "id": 11,
        "name": "Amoladoras y lijadoras neumáticas",
        "description": "",
        "href": "/herramientas/11/amoladoras-y-lijadoras-neumaticas"
    },
    {
        "id": 12,
        "name": "Auto Feed Drills & Tappers (obsolete)",
        "description": "Facilidad de integración en la máquina o proceso. Amplia gama del producto  Diseño modular",
        "href": "/herramientas/12/auto-feed-drills-tappers-obsolete"
    },
    {
        "id": 13,
        "name": "motores de aire",
        "description": "Desoutter ofrece una amplia gama de paletas rotatorias de motores de aire en acero inoxidable y versiones libres de lubricación, con potencia de entre 0,16 kW (0,21 hp) a 2,9 kW (3,9 hp). La mayoría de...",
        "href": "/herramientas/13/motores-de-aire"
    },
    {
        "id": 14,
        "name": "Herramientas varias",
        "description": "",
        "href": "/herramientas/14/herramientas-varias"
    },
    {
        "id": 15,
        "name": "Accesorios",
        "description": "",
        "href": "/herramientas/15/accesorios"
    }
]
---

<Base frontmatter={frontmatter}>
  <header class='sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16'>
    <nav>
      <div class="px-10 max-[500px]:text-sm text-lg text-slate-500 ">
        <a class="border-b-2 text-red-500 border-red-500 hover:text-gray-600 hover:border-gray-600" 
        href={import.meta.env.BASE_URL}>Inicio</a>/<span class="max-[500px]:text-sm text-lg">{frontmatter.title}</span>
      </div>
    </nav>
    <section class="px-10 space-y-4">
      <header class="border-b-4 border-red-600">
        <h1 class='sm:text-lg md:text-2xl lg:text-4xl font-bold'>SOLUCIONES Y HERRAMIENTAS INDUSTRIALES</h1>
      </header>
      <p class="max-[400px]:text-xs sm:text-sm md:text-base lg:text-lg">
        Descubra el completo rango de herramientas industriales y soluciones personalizadas de
        Desoutter: herramientas de batería para ensamblaje, atornilladores eléctricos y herramientas
        neumáticas para fijación…
      </p>
      <ul class='md:flex space-x-2'>
        <a href='#'><li class='bg-red-600 px-5 py-2 text-white hover:bg-red-500'>Obtenga una cotización</li></a>
        <a href='#'><li class="bg-slate-600 px-5 py-2 text-white hover:bg-slate-500">Obtenga una demo</li></a>
        <a href={`${import.meta.env.BASE_URL}contacto`}><li class="bg-zinc-800 px-5 py-2 text-white hover:bg-zinc-700">Contáctenos</li></a>
      </ul>
    </section>
  </header>
  <main>
    <section class='px-10 sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16'>
        <CategoriesList categories={categories}/>
    </section>
  </main>
</Base>
