---
const { content } = Astro.props
---

<div class='flex items-center top-0 mb-5 w-full h-full bg-white dark:bg-gray-800 bg-opacity-90'>
  <section class="w-full">
    <h2 class='text-2xl font-bold tracking-tight text-zinc-800 w-full'>
      <div class='text-black dark:text-white top-0 w-full px-4 text-center md:text-left'>{content.title}</div>
    </h2>
    <p class='hidden text-center px-4 md:text-left lg:block mt-3 text-lg text-black dark:text-red-300'>
      {content.description}
    </p>
  
    <!-- actions -->
  
    <div class='md:flex md:flex-col md:justify-start lg:flex-row pl-3 pt-4'>
      <div class='p-1'>
        <a
          href={content.actions[0].ref}
          class='flex w-full items-center justify-center px-6 py-1 border border-transparent bg-red-600 text-base font-medium text-white hover:bg-red-400 dark:bg-slate-700 dark:text-white dark:hover:bg-slate-900'
        >
          {content.actions[0].name}
        </a>
      </div>
      <div class='p-1'>
        <a
          href={content.actions[1].ref}
          class='flex w-full items-center justify-center px-6 py-1 border border-transparent bg-zinc-600 text-base font-medium text-white hover:bg-zinc-500 dark:bg-red-700 dark:text-white dark:hover:bg-red-900'
        >
          {content.actions[1].name}
        </a>
      </div>
    </div>
  </section>
</div>
