---
import { Icon } from 'astro-icon'
import { NavigationLinks } from '../config'
import Search from '../components/Search.astro'
import Theme from '../components/Theme.astro'
import { Logo } from '../config'
---

<div class="relative h-[50px] w-full">
  <nav x-data="{ isOpen: false }" class="dark:bg-gray-800">
    <div
      class="fixed z-50 top-0 left-0 mx-auto w-full bg-[#E40520] px-2 dark:border-b-2 dark:border-[#E40520] dark:bg-gray-800 sm:px-6 lg:px-8">
      <div class="relative flex py-2 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
          <!-- Mobile menu button-->
          <button
            type="button"
            x-on:click="isOpen = !isOpen"
            class="inline-flex items-center justify-center rounded p-2 border border-black dark:border-white text-zinc-900 hover:bg-red-200 hover:text-[#E40520] focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-600 dark:text-red-100 dark:hover:bg-red-800 dark:hover:text-red-100 dark:focus:ring-red-800"
            aria-controls="mobile-menu"
            aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <Icon
              x-bind:class="{'hidden': isOpen, 'block': !isOpen }"
              class="block h-6 w-6"
              aria-hidden="true"
              pack="heroicons-outline"
              name="menu"
            />
            <Icon
              x-bind:class="{'block': isOpen, 'hidden': !isOpen }"
              class="hidden h-6 w-6"
              aria-hidden="true"
              pack="heroicons-outline"
              name="x"
            />
          </button>
        </div>
        <div class="flex flex-1 h-full items-center justify-center lg:items-stretch lg:justify-start max-[570px]:ml-[70px]">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-8 max-[430px]:ml-8 max-[570px]:ml-[10px]" src={Logo.src} alt="Logo principal de la página Desoutter Tools México" title="Icono de Desumex" />
            <h1 class="text-white font-semibold mx-2 max-[360px]:text-[12px] max-[430px]:text-xs max-[300px]:hidden">Desoutter Tools México <span class="hidden">| Herramientas industriales, Neumáticas, Automotriz, Eléctricas</span></h1>
          </div>
          <div class="hidden lg:block">
            <div class="flex items-center">
              {
                NavigationLinks.map((item) => (
                  <a
                    href={import.meta.env.BASE_URL + item.href}
                    class={
                      (item.href.length > 0 && Astro.url.toString().includes(item.href)
                        ? 'flex justify-center items-center space-x-2 border-b-2 border-black px-2 text-gray-800 dark:bg-white dark:text-white'
                        : 'flex justify-center items-center space-x-2 text-white border-b-2 px-2 border-white border-opacity-0 hover:border-opacity-100 hover:border-white hover:text-white dark:hover:text-white') +
                      'px-2 py-2 min-[1076px]:text-lg font-medium'
                    }
                    aria-current={
                      item.href.length > 0 && Astro.url.toString().includes(item.href)
                        ? 'page'
                        : undefined
                    }>
                    <span>
                      <Icon
                        class="-mr-1 ml-2 h-5 w-5"
                        aria-hidden="true"
                        pack={item.pack}
                        name={item.icon}
                      />
                    </span>
                    <span>{item.name}</span>
                  </a>
                ))
              }
            </div>
          </div>
        </div>
        <div
          class="relative inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:pr-0 max-[570px]:ml-[32px]">
          <!-- <Search /> -->
          <Theme />

          <!-- Right nav -->
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div
      x-show="isOpen"
      x-cloak
      x-transition:enter="transition ease-out duration-500 transform"
      x-transition:enter-start="bg-opacity-0"
      x-transition:enter-end="bg-opacity-75"
      x-transition:leave="transition ease-in duration-75 transform"
      x-transition:leave-start="bg-opacity-75"
      x-transition:leave-end="bg-opacity-0"
      class="h-screen w-full fixed bg-white bg-opacity-75 lg:bg-opacity-0 inset-x-0 top-[53px] z-40 "
      id="mobile-menu">
      <div
        x-show="isOpen"
        x-cloak
        x-transition:enter="transition ease-out duration-500 transform"
        x-transition:enter-start="-translate-x-96 bg-opacity-0"
        x-transition:enter-end="transalate-x-0 bg-opacity-100"
        x-transition:leave="transition ease-in duration-75 transform"
        x-transition:leave-start="transalate-x-0 bg-opacity-100"
        x-transition:leave-end="-translate-x-96 bg-opacity-0"
        id="mobile-menu"
        class="flex flex-col pt-20 w-3/5 max-[430px]:w-1/2 sm:w-3/5 h-full min-w-[160px] fixed left-0 lg:hidden border-b-2 border-t-2 border-r-2 border-red-300 bg-gray-100 py-2 font-sans text-sm dark:border-[#E40520] dark:bg-gray-800">
        {
          NavigationLinks.map((item) => (
            <a
              href={import.meta.env.BASE_URL + item.href}
              class:list={[
                item.href.length > 0 && Astro.url.toString().includes(item.href)
                  ? 'bg-red-200 text-[#E40520] dark:bg-red-800 dark:text-red-300'
                  : 'text-[#E40520] hover:bg-red-200 hover:text-[#E40520] dark:text-red-100 dark:hover:bg-red-800 dark:hover:text-white',
                'flex items-center space-x-4 py-4 pl-4 text-sm min-[400px]:text-lg border border-r-0 border-b-0 border-gray-400 bg-zinc-50 dark:bg-zinc-800 '
              ]}
              aria-current={
                item.href.length > 0 && Astro.url.toString().includes(item.href)
                  ? 'page'
                  : undefined
              }>
              <span>
                <Icon
                  class="-mr-1 ml-2 h-5 w-5"
                  aria-hidden="true"
                  pack={item.pack}
                  name={item.icon}
                />
              </span>
              <span>{item.name}</span>
            </a>
          ))
        }
      </div>
    </div>
  </nav>
</div>
