---
import QuoteForm from "./QuoteForm.astro";
import SpeedDial from "./SpeedDial.astro";
import DemoForm from "./DemoForm.astro";
import QuestionForm from "./QuestionForm.astro";
import Navegation from "./Navegation.astro";
const {categoryId,categoryName,subcategoryId,subcategoryName} = Astro.params;
const {product} = Astro.props;

    const productAttributes = {
        categoryName, 
        categoryId,
        subcategoryName, 
        subcategoryId,
        productModelo : product.Modelo,
    }
const productDetails = Object.entries (product);

// productDetails.flatMap((detail)=>{
//     return detail[0] + ": " + detail[1];
// })

---
<article class="bg-white dark:bg-gray-800 p-10 w-full">
    
    <header class="mb-5">
        <Navegation productAttributes={productAttributes}>
    </header>

    <section class="flex max-[900px]:flex-col">
        <article class="flex flex-col justify-between">
            <header>
                <h1 class="text-5xl text-center font-extrabold dark:text-white">{product.Modelo}</h1>
            </header>

            <div class="flex items-center py-5">
                <div class="pr-5">
                    <SpeedDial />
                </div>
                <figure class="flex justify-center w-full">
                    <img title={product.Modelo} src={product.image} alt=`Herramienta industrial ${product.Modelo, product.Descripción} `
                    class="object-none object-center h-48 w-auto max-[400px]:scale-50">
                </figure>
            </div>
    
            <ul class="[&>li]:py-2 [&>li]:px-2 flex max-[570px]:flex-col">
                <li><QuoteForm productModelo={product.Modelo} /></li>
                <li><DemoForm /></li>
                <li><QuestionForm /></li>
            </ul>
        </article>

        <article class="bg-slate-50 p-10 max-[900px]:px-10 max-[1200px]:px-2 border min-[900px]:w-1/2 min-[900px]:ml-4">
            <header class="pb-2">
                <h2 class="text-zinc-800 text-2xl font-bold">{product.Descripción}</h2>
            </header>
            <section>
                <article class="grid pb-6">
                    <section>
                        <header class="text-zinc-800 text-xl font-semibold border-b-4 mb-5 border-[#393939] hover:border-zinc-500">Descripción Técnica</header>
                        <div class="text-sm mb-4 max-[1200px]:hidden max-[900px]:block">
                            <p>Descubra todos nuestros {product.Modelo} productos de Desoutter Herramientas Industriales.</p>
                            <p>Encuentre toda la gama de {product.Modelo} productos y póngase en contacto con Desoutter Herramientas Industriales para una cita o una demostración.</p>
                        </div>

                        <table class="text-sm max-[900px]:text-sm max-[1200px]:text-xs w-full text-center">
                            <tbody class="border">
                                {productDetails.slice(1,-4).flatMap((detail)=>(
                                    <tr class="border-b hover:bg-red-300">
                                        <th>{detail[0]}</th>
                                        <td>{detail[1]}</td>
                                    </tr>
                                ))}
                            </tbody>
                        </table>
                    </section>
                </article>
            </section>
        </article>

    </section>
</article>