---
import HeaderTools from "./HeaderTools.astro";
import ProductCard from "./ProductCard.astro";
import SubSubSubCategoryCard from "./SubSubSubCategoryCard.astro";

const { data, path } = Astro.props;

// verifica si data.lenght es indefinido son productos, de lo contrario
// es un objeto(hay subsubcategorias) y recupera las propiedades excepto la última(porque no me interesa);
const subsubsubcategoriesKey = (data.length !== undefined) ?
    []  : ( Object.keys(data).slice(0, -1))
---

<article>
  {
   data.length !== undefined ? (
      <>
        <HeaderTools tools={data.length} />
        {(data.length > 0) ? (
          <div class="content-center grid grid-cols-1 xl:grid-cols-4 justify-items-center gap-4">
          {data.map((product) => (
            <ProductCard key={product.Referencia} product={product} path={path} />
          ))}
        </div>
        ): (<div>No hay herramientas en estos momentos</div>) }
      </>
    ) : (
      <>
        <HeaderTools tools={subsubsubcategoriesKey.length} />
        <div class="content-center grid grid-cols-1 xl:grid-cols-4 justify-items-center gap-4">
          { //recorre cada propiedad
            data !== null ? 
            ( subsubsubcategoriesKey.map((key)=> <SubSubSubCategoryCard key={data[key].id} subsubsubcategory={data[key]} path={path} />)) 
            :
            <div>No hay subsubcategorias</div>
            }
        </div>
      </>
    )
  }
</article>
