---
import { getEntry } from "astro:content";
import Base from "@layouts/Base.astro";
import HeaderContent from "@components/servicios/HeaderContent.astro";
import Accordion from '@components/servicios/Accordion.astro'
import CTA1 from "@components/CTA1.astro";

const { servicioNombre } = Astro.params;

const detail = await getEntry("servicio", servicioNombre!);

const frontmatter = {
  title: detail!.data.title,
  description: detail!.data.description,
  keywords: ["Palabra Clave 1", "Palabra Clave 2", "Palabra Clave 3"],
  authorName: "Desumex",
  language: "es",
  canonicalUrl: Astro.url.href,
  facebookTitle: detail!.data.title,
  facebookDescription: detail!.data.description,
  facebookImage: detail!.data.image,
  facebookURL: Astro.url.href,
  twitterTitle: detail!.data.title,
  twitterDescription: detail!.data.description,
  twitterImage: detail!.data.image
}

const serviceDetails = {
  title: detail!.data.title.toLocaleUpperCase(),
  description: detail!.data.description,
  image: detail!.data.imageBanner,
  imageDescription: detail!.data.imageBannerDescription,
  qya: detail!.data.qya,
};

---

<Base frontmatter={frontmatter}>
  <header class="pt-10 mx-2 w-full">
    <nav class="max-[300px]:text-xs max-[500px]:text-sm text-slate-500 mx-auto w-full max-w-screen-xl">
      <a class="border-b-2 text-red-500 border-red-500 hover:text-gray-600 hover:border-gray-600" 
      href={import.meta.env.BASE_URL+"servicios"}>Regresar a servicios</a>/<span>{frontmatter.title}</span>
    </nav>
    <HeaderContent
      title={serviceDetails.title}
      description={serviceDetails.description}
      image={serviceDetails.image}
      imageDescription={serviceDetails.imageDescription}
    />
  </header>
  <section class="pt-10 mx-2 dark:bg-gray-900 w-full mb-10">
    <Accordion qya={serviceDetails.qya} />
  </section>
  <footer>
    <CTA1
      title="¿Tienes preguntas o necesitas ayuda?"
      subtitle="¡Estamos aquí para proporcionarte respuestas!"
      btn1="Realizar una pregunta"
      href1="contacto"
      btn2="Contáctanos"
      href2="contacto"
        />
  </footer>

</Base>
