---
import SubCategoriesList from "../../../../components/herramientas/SubCategoriesList.astro";
import Base from "../../../../layouts/Base.astro";
import HeaderTools from '../../../../components/herramientas/HeaderTools.astro'
import Navigation from "../../../../components/herramientas/NavigationTools.astro";
const desoutterAPI = import.meta.env.PUBLIC_DESOUTTER_API || "https://7yc636gsjj.execute-api.us-east-1.amazonaws.com/prod";
const { categoryId, categoryName } = Astro.params;
// console.log(categoryId, categoryName);
const frontmatter = {
  title: categoryName,
  description: "Descripción de la Página",
  keywords: ["Palabra Clave 1", "Palabra Clave 2", "Palabra Clave 3"],
  name: "Nombre del Autor",
  language: "es",
  url: "URL_canónica_de_la_Página",
  facebookTitle: "Título para Compartir en Facebook",
  facebookDescription: "Descripción para Compartir en Facebook",
  facebookImage: "URL_de_la_Imagen_para_Facebook",
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Título para Compartir en Twitter",
  twitterDescription: "Descripción para Compartir en Twitter",
  twitterImage: "URL_de_la_Imagen_para_Twitter"
}

// Función para realizar la petición fetch por subcategoría
async function getSubcategories(categoryId, categoryName) {
  const response = await fetch(`${desoutterAPI}/herramientas/${categoryId}/${categoryName}`);
  return response.json();
}

// Realiza la petición fetch y almacena los datos en el objeto organizado
const subcategoriesData = await getSubcategories(categoryId, categoryName).catch((error)=>{
  console.log('No hay subcategoria en esta sección');
});

// console.log(subcategoriesData);


---
<Base frontmatter={frontmatter}>
  <Navigation />
    {subcategoriesData !== undefined ? (
      <SubCategoriesList subcategories={subcategoriesData} />
    ):
    (<div class="px-5">
      <HeaderTools tools={0} />
      <h4 class="dark:text-white">No hay herramientas disponibles en estos momentos</h4>
    </div>)}
</Base>