---
import SubCategoriesList from "@components/herramientas/SubCategoriesList.astro";
import Base from "@layouts/Base.astro";
import HeaderTools from '@components/herramientas/HeaderTools.astro'
import NavigationTools from "@components/herramientas/NavigationTools.astro";
import NotFoundTools from "@components/herramientas/NotFoundTools.astro";
const desoutterAPI = import.meta.env.PUBLIC_DESOUTTER_API || "https://7yc636gsjj.execute-api.us-east-1.amazonaws.com/prod";
const { categoryId, categoryName } = Astro.params;
const descriptionsCategories = [
  "Descubre nuestras herramientas de montaje, ideales para aplicaciones automotrices, industriales y arquitectónicas. Eficiencia y precisión para desmontaje, fijación y más.",
  "Soluciones avanzadas para instalaciones solares, automotrices y baja tensión. Simplifica tus proyectos con nuestro sistema de montaje eléctrico.",
  "Desata tu potencial con nuestros desatornilladores eléctricos. Recargables, precisos, inalámbricos y con luz. La herramienta ideal para cualquier tarea.",
  "Potencia y precisión en cada sujeción. Descubre nuestras herramientas neumáticas para talleres mecánicos, automotrices y montaje industrial. ¡Optimiza tu trabajo!",
  "Control total en aplicaciones automotrices. Nuestro sistema de medición de torques te brinda precisión a distancia para llantas, amortiguadores y más. ¡Optimiza el rendimiento!",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
]
const descriptionPageTools = descriptionsCategories[Number(categoryId)];
// console.log(descriptionPageTools);
// console.log(categoryId, categoryName);
const frontmatter = {
  title: "Desoutter Tools México | " + categoryName,
  description: descriptionPageTools,
  keywords: [
  "Desoutter Tools México", categoryName, "Herramientas Industriales", "Soluciones de Ensamblaje", "Herramientas Eléctricas", "Innovación Industrial", 
    "Fabricación de Precisión", "Automatización de Procesos", "Tecnología Industrial", "Eficiencia en Ensamblaje", "Productividad Industrial"
  ],
  authorName: "Desumex",
  language: "es",
  canonicalUrl: Astro.url.href,
  facebookTitle: "Desoutter Tools México | " + categoryName  ,
  facebookDescription: "Descubra el completo rango de herramientas industriales y soluciones personalizadas de Desoutter: herramientas de batería para ensamblaje, atornilladores eléctricos y herramientas neumáticas para fijación",
  facebookImage: `https://s3.amazonaws.com/desumex.com.mx/categorias/${categoryName}.jpg`,
  facebookURL: Astro.url.href,
  twitterTitle: "Desoutter Tools México | " + categoryName,
  twitterDescription: "Descubra el completo rango de herramientas industriales y soluciones personalizadas de Desoutter: herramientas de batería para ensamblaje, atornilladores eléctricos y herramientas neumáticas para fijación",
  twitterImage: `https://s3.amazonaws.com/desumex.com.mx/categorias/${categoryName}.jpg`
}

// Función para realizar la petición fetch por subcategoría
async function getSubcategories(categoryId:String|undefined, categoryName:String|undefined) {
  try {
    if(categoryName !== '[object Object]'){
      const response = await fetch(`${desoutterAPI}/herramientas/${categoryId}/${categoryName}`);
      if (!response.ok) {
        // Si la respuesta no es exitosa, lanzar un error con el status
        throw new Error(`HTTP error! Status: ${response.status}`);
      }

      return await response.json();
    }
  } catch (error) {
     // Afirmación de tipo para indicar que 'error' es de tipo 'Error'
  console.error('Error en la solicitud:', (error as Error).message);
  }
}

// Realiza la petición fetch y almacena los datos en el objeto organizado
const subcategories = await getSubcategories(categoryId, categoryName).catch((error)=>{
  console.log('No hay subcategoria en esta sección');
  console.error(error);
});

---
<Base frontmatter={frontmatter}>
  <NavigationTools />
    {subcategories !== undefined ? (
      <SubCategoriesList subcategories={subcategories} />
    ):
    (<div class="px-5">
      <HeaderTools tools={0} />
      <NotFoundTools />
    </div>)}
</Base>