---
import Icon from "astro-icon";
const desoutterAPI = import.meta.env.PUBLIC_DESOUTTER_API || "https://7yc636gsjj.execute-api.us-east-1.amazonaws.com/prod";

const errors = {
    email_demo: '', 
    phone_demo: '',
    name_demo: '',
    company_demo: '',
    availabilitySelected: '',
    issue_demo: '',
    tool_demo: '',
    date_time_demo: '',
}

if (Astro.request.method === 'POST') {

  try {
    const data = await Astro.request.formData()
    function getData(){
        if (data.has('email_demo')) {
            data.set("subject_demo","Demostración de herramientas");
            return {
                subject_demo: data.get('subject_demo'),
                email_demo : data.get('email_demo'),
                phone_demo : data.get('phone_demo'),
                name_demo : data.get('name_demo'),
                company_demo : data.get('company_demo'),
                reCaptcha_demo: data.get('g-recaptcha-response'),
                availability : data.get('availability'),
                issue_demo : data.get('issue_demo'),
                tool_demo : data.get('tool_demo'),
                date_time_demo : data.get('date_time_demo')
            }
        }
        
    }
    
    const dataContact = getData();

    // console.log(dataContact);

    fetch(desoutterAPI + '/contacto/demo', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(dataContact),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(responseData => {
        if (responseData.success) {
            console.log('Mensaje de éxito:', responseData.message);
        } else {
            console.error('Error en la solicitud:', responseData.message);
        }
    })
    .catch(error => {
        console.error('Error en la solicitud:', error);
    });

  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}



---
<div class="relative bg-white shadow dark:bg-gray-700">
      <div class="px-6 py-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white text-center">Solicitud de demostración</h3>
            <form method="post" id="demo-form">

                <div class="relative z-0 w-full mb-6 group">
                    <input type="email" name="email_demo" id="email_demo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" required placeholder=" " required />
                    <label for="email_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dirección de correo electrónico</label>
                    <p id="error_email_demo" class="text-red-500 border-t border-red-500 hidden"></p>
                </div>

                <fieldset class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="text" name="name_demo" id="name_demo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" required placeholder=" " />
                        <label for="name_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre completo</label>
                        <p id="error_name_demo" class="text-red-500 border-t border-red-500 hidden"></p>
                    </div>
                </fieldset>

                <fieldset class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone_demo" id="phone_demo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" required placeholder="ej. 123 456 7890" />
                        <label for="phone_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-[0.5] scale-75 -top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-0">Número telefónico</label>
                        <p id="error_phone_demo" class="text-red-500 border-t border-red-500 hidden"></p>
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="text" name="company_demo" id="company_demo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" required placeholder=" " />
                        <label for="company_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Empresa</label>
                        <p id="error_company_demo" class="text-red-500 border-t border-red-500 hidden"></p>
                    </div>
                </fieldset>

                <fieldset class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="text" name="issue_demo" id="issue_demo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" required>
                        <label for="issue_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-0 scale-100 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Tema</label>
                        <p id="error_issue_demo" class="text-red-500 border-t border-red-500 hidden"></p>
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="text" name="tool_demo" id="tool_demo" required placeholder="ej. ELB12-600-P, Pistola, 6151654180" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer">
                        <label for="tool_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-[0.5] scale-75 -top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-0">Herramienta</label>
                        <p id="error_tool_demo" class="text-red-500 border-t border-red-500 hidden"></p>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="relative z-0 w-full mb-6 group">
                        <h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Elija la disponibilidad para la demo</h3>
                        <ul class="grid w-full gap-6 md:grid-cols-3">
                            <li>
                                <input type="radio" id="availability-mañana" name="availability" value="availability-mañana" class="hidden peer">
                                <label for="availability-mañana" class="flex justify-center w-full p-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-[#E40520] peer-checked:border-[#E40520] peer-checked:text-[#E40520] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800">                           
                                    <div class="flex justify-center items-center">
                                        <div class="w-full">Mañana</div>
                                        <Icon pack="ph" name="sun" class="h-8 w-8" />
                                    </div>
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="availability-medio-dia" name="availability" value="availability-medio-dia" class="hidden peer">
                                <label for="availability-medio-dia" class="flex justify-center w-full p-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-[#E40520] peer-checked:border-[#E40520] peer-checked:text-[#E40520] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800">
                                    <div class="flex justify-center items-center">
                                        <div class="w-full">Medio día</div>
                                        <Icon pack="wi" name="day-hail" class="h-8 w-8" />
                                    </div>
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="availability-tarde" name="availability" value="availability-tarde" class="hidden peer">
                                <label for="availability-tarde" class="flex justify-center w-full p-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-[#E40520] peer-checked:border-[#E40520] peer-checked:text-[#E40520] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800">                           
                                    <div class="flex justify-center items-center">
                                        <div class="w-full">Tarde</div>
                                        <Icon pack="wi" name="day-haze" class="h-8 w-8" />
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <label for="date_time_demo" class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Selecciona el día de la demostración</label>
                        <input type="date" name="date_time_demo" id="date_time_demo" class="dark:bg-gray-800 dark:text-white rounded-sm p-2" required>
                        <p id="error_date_demo" class="text-red-500 border-t border-red-500 hidden"></p>
                    </div>
                </fieldset>

                <button     
                    type="submit"
                    data-sitekey="6LfiuA8pAAAAAAkXWHT_SsdkFSuFGi3c9qpdvfmB"
                    data-callback='onChange'
                    data-action='change'
                    class="g-recaptcha text-white bg-[#E40520] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-[#E40520] dark:focus:ring-red-800">
                    Enviar
                </button>
            </form>
        </div>
        <div id="success-message" class="hidden text-green-300 text-center">¡El formulario se envió con éxito!</div>
  </div>

  <script>
    function init() {

        const form = document.getElementById("demo-form");
        const successMessage = document.getElementById('success-message');

        function showSuccessMessage(form:HTMLElement, successMessage:HTMLElement){
            if(form && successMessage){
                form?.classList.add('hidden');
                successMessage?.classList.remove('hidden');
                setTimeout(() => {
                    form?.submit();
                    form?.reset();
                    form?.classList.remove('hidden');
                    successMessage?.classList.add('hidden');
                }, 2000);
            } else {
                console.log('elements not found');
            }
        }
        
        document.getElementById('phone_demo')?.addEventListener('input', function (e) {
        // Eliminar cualquier caracter que no sea un número
        const phoneNumber = e.target.value.replace(/\D/g, '').slice(0, 10);

        // Aplicar el formato
        let formattedPhoneNumber = '';
        for (let i = 0; i < phoneNumber.length; i++) {
                if (i === 3 || i === 6) {
                    formattedPhoneNumber += '-';
                }
                formattedPhoneNumber += phoneNumber[i];
            }

            // Actualizar el valor del campo de entrada
            e.target.value = formattedPhoneNumber;
        });


        // Formato y rango de la fecha de demostración
        const $dateTime = document.getElementById('date_time_demo');
        const currentDateTime = new Date();
        currentDateTime.setDate(currentDateTime.getDate() + 1); // Agregamos un día más
        const day = currentDateTime.getDate().toString().padStart(2, '0');
        const month = (currentDateTime.getMonth() + 1).toString().padStart(2, '0');
        const year = currentDateTime.getFullYear();
        // const hours = currentDateTime.getHours().toString().padStart(2, '0');
        // const minutes = currentDateTime.getMinutes().toString().padStart(2, '0');
        const date = `${year}-${month}-${day}`;
        $dateTime?.setAttribute('value', date);
        $dateTime?.setAttribute('min', date);

        // Obtene el valor de la fecha selecionada
        const dateTimeSelected = $dateTime?.addEventListener('change', ()=>{
            // console.log($dateTime?.value);
             return $dateTime?.value;
        })

        function onChange(token:string) {
            if (token) {
                // console.log("No eres un robot");
                try {
                    if (form && successMessage) {
                        if(form.checkValidity()){
                            showSuccessMessage(form, successMessage);
                        } else {
                            const formElements = form.elements;

                            Array.from(formElements).forEach(element => {
                                if (element.checkValidity() === false) {
                                    const errorMessage = document.getElementById(`error_${element.name}`);
                                    // if (element.id === "email_service"){
                                    //     console.log("es correo");
                                    // }
                                    if (errorMessage) {
                                        errorMessage.textContent = 'Falta validar campo';
                                        errorMessage.classList.replace("hidden", "block");

                                        setTimeout(() => {
                                            errorMessage.textContent = 'Falta validar campo';
                                            errorMessage.classList.replace("block", "hidden");
                                        },4000)
                                    }
                                    
                                }
                            });
                        }
                    } else {
                        console.log("Ocurrió un error");
                    }
                } catch (error) {
                    console.error(error)
                }
            } else {
              console.log("Eres un robot");
            }
        }

        window.onChange = onChange;

    }

    window.onload = init;
    document.addEventListener('DOMContentLoaded', init);
    init();
    document.addEventListener('astro:page-load', init);

  </script>