---
import Icon from "astro-icon";
const desoutterAPI = import.meta.env.PUBLIC_DESOUTTER_API || "https://7yc636gsjj.execute-api.us-east-1.amazonaws.com/prod";

const errors = {
    email_demo: '', 
    phone_demo: '',
    name_demo: '',
    company_demo: '',
    availabilitySelected: '',
    issue_demo: '',
    tool_demo: '',
    date_time_demo: '',
}

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData()

    function getData(){
        if (data.has('email_demo')) {
            data.set("subject_demo","Demostración de herramientas");
            return {
                subject_demo: data.get('subject_demo'),
                email_demo : data.get('email_demo'),
                phone_demo : data.get('phone_demo'),
                name_demo : data.get('name_demo'),
                company_demo : data.get('company_demo'),
                availability : data.get('availability'),
                issue_demo : data.get('issue_demo'),
                tool_demo : data.get('tool_demo'),
                date_time_demo : data.get('date_time_demo')
            }
        }
        
    }
    
    const dataContact = getData();

    if (typeof dataContact?.name_demo !== 'string' || dataContact?.name_demo.length < 1) {
      errors.name_demo += 'Ingresa tu nombre completo. '
    }
    // console.log(dataContact);

    fetch(desoutterAPI + '/contacto/cotizar', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
    },
    body: JSON.stringify(dataContact),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
    })
    .then(responseData => {
        if (responseData.success) {
            console.log('Mensaje de éxito:', responseData.message);
        } else {
            console.error('Error en la solicitud:', responseData.message);
        }
    })
    .catch(error => {
        console.error('Error en la solicitud:', error);
    });

  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}



---
<div class="relative bg-white shadow dark:bg-gray-700">
      <div class="px-6 py-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Solicitud de demostración</h3>
            <form method="post">

                <div class="relative z-0 w-full mb-6 group">
                    <input type="email" name="email_demo" id="email_demo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                    <label for="email_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Dirección de correo electrónico</label>
                    {errors.email_demo && <p class='text-red-500'>{errors.email_demo}</p>}
                </div>

                <fieldset class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="text" name="name_demo" id="name_demo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                        <label for="name_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre completo</label>
                        {errors.name_demo && <p class='text-red-500'>{errors.name_demo}</p>}
                    </div>
                </fieldset>

                <fieldset class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone_demo" id="phone_demo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder="ej. 123 456 7890" required />
                        <label for="phone_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-[0.5] scale-75 -top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-0">Número telefónico</label>
                        {errors.phone_demo && <p class='text-red-500'>{errors.phone_demo}</p>}
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="text" name="company_demo" id="company_demo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" placeholder=" " required />
                        <label for="company_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Empresa</label>
                        {errors.company_demo && <p class='text-red-500'>{errors.company_demo}</p>}
                    </div>
                </fieldset>

                <fieldset class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="text" name="issue_demo" id="issue_demo" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer">
                        <label for="issue_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-0 scale-100 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Tema</label>
                        {errors.issue_demo && <p class='text-red-500'>{errors.issue_demo}</p>}
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                        <input type="text" name="tool_demo" id="tool_demo" placeholder="ej. ELB12-600-P, Pistola, 6151654180" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-red-500 focus:outline-none focus:ring-0 focus:border-red-600 peer" required>
                        <label for="tool_demo" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-[0.5] scale-75 -top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-red-600 peer-focus:dark:text-red-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-0">Herramienta</label>
                        {errors.tool_demo && <p class='text-red-500'>{errors.tool_demo}</p>}
                    </div>
                </fieldset>

                <fieldset>
                    <div class="relative z-0 w-full mb-6 group">
                        <h3 class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Elija la disponibilidad para la demo</h3>
                        <ul class="grid w-full gap-6 md:grid-cols-3">
                            <li>
                                <input type="radio" id="availability-morning" name="availability" value="availability-morning" class="hidden peer" required>
                                <label for="availability-morning" class="flex justify-center w-full p-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-[#E40520] peer-checked:border-[#E40520] peer-checked:text-[#E40520] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800">                           
                                    <div class="flex justify-center items-center">
                                        <div class="w-full">Mañana</div>
                                        <Icon pack="ph" name="sun" class="h-8 w-8" />
                                    </div>
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="availability-half-day" name="availability" value="availability-half-day" class="hidden peer">
                                <label for="availability-half-day" class="flex justify-center w-full p-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-[#E40520] peer-checked:border-[#E40520] peer-checked:text-[#E40520] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800">
                                    <div class="flex justify-center items-center">
                                        <div class="w-full">Medio día</div>
                                        <Icon pack="wi" name="day-hail" class="h-8 w-8" />
                                    </div>
                                </label>
                            </li>
                            <li>
                                <input type="radio" id="availability-afternoon" name="availability" value="availability-afternoon" class="hidden peer" required>
                                <label for="availability-afternoon" class="flex justify-center w-full p-1 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-[#E40520] peer-checked:border-[#E40520] peer-checked:text-[#E40520] hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800">                           
                                    <div class="flex justify-center items-center">
                                        <div class="w-full">Tarde</div>
                                        <Icon pack="wi" name="day-haze" class="h-8 w-8" />
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                        <label for="date_time_demo" class="mb-5 text-lg font-medium text-gray-900 dark:text-white">Selecciona el día de la demostración</label>
                        <input type="date" name="date_time_demo" id="date_time_demo" class="dark:bg-gray-800 dark:text-white rounded-sm p-2">
                        {errors.date_time_demo && <p class='text-red-500'>{errors.date_time_demo}</p>}
                    </div>
                </fieldset>

                <button type="submit" class="text-white bg-[#E40520] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-[#E40520] dark:focus:ring-red-800">Enviar</button>
            </form>
        </div>
  </div>

  <script>
    function init() {
        
        document.getElementById('phone_demo').addEventListener('input', function (e) {
        // Eliminar cualquier caracter que no sea un número
        const phoneNumber = e.target.value.replace(/\D/g, '').slice(0, 10);

        // Aplicar el formato
        let formattedPhoneNumber = '';
        for (let i = 0; i < phoneNumber.length; i++) {
                if (i === 3 || i === 6) {
                    formattedPhoneNumber += '-';
                }
                formattedPhoneNumber += phoneNumber[i];
            }

            // Actualizar el valor del campo de entrada
            e.target.value = formattedPhoneNumber;
        });

        const $dateTime = document.getElementById('date_time_demo');
        const currentDateTime = new Date();
        currentDateTime.setDate(currentDateTime.getDate() + 1); // Agregamos un día más
        const day = currentDateTime.getDate().toString().padStart(2, '0');
        const month = (currentDateTime.getMonth() + 1).toString().padStart(2, '0');
        const year = currentDateTime.getFullYear();
        // const hours = currentDateTime.getHours().toString().padStart(2, '0');
        // const minutes = currentDateTime.getMinutes().toString().padStart(2, '0');
        const date = `${year}-${month}-${day}`;
        $dateTime?.setAttribute('value', date);
        $dateTime?.setAttribute('min', date);

        // Obtene el valor de la fecha selecionada
        const dateTimeSelected = $dateTime?.addEventListener('change', ()=>{
            // console.log($dateTime?.value);
             return $dateTime?.value;
        })



    }

    window.onload = init;
    document.addEventListener('DOMContentLoaded', init);
    init();
    document.addEventListener('astro:after-swap', init);

  </script>