---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon";

const social = await getCollection("social");
---

<article id="socialContact" class="w-full">
  <div class="block bg-white p-10 dark:bg-gray-900 lg:my-8">
    <div>
      <div class="w-full shrink-0 grow-0 basis-auto">
        <div class="grid grid-cols-2 gap-8">
          {
            social.map(
              (method) =>
                method.data.link && (
                  <div>
                    <div class="grid justify-items-center">

                      <div class="text-sm dark:text-white">
                        <p class="mb-1 font-bold">{method.data.name}</p>
                      </div>

                      <div class="mr-2">
                        <a href={method.data.link}>
                          <Icon
                          pack="bi"
                          name={method.data.icon}
                          class="h-14 w-14 rounded-md bg-red-600 p-4 text-white shadow-md"
                          />
                        </a>
                        
                      </div>

                      <p class="hidden sm:block">
                        <a
                          href={method.data.link}
                          class="text-xs text-red-600 hover:text-slate-600 dark:text-red-300 dark:hover:text-white"
                        >
                          {method.data.link}
                        </a>
                      </p>
                    </div>
                    
                  </div>
                )
            )
          }
        </div>
      </div>
    </div>
  </div>
</article>
