---
import Icon from "astro-icon";
import "swiper/css/bundle";
import CarouselContent from "./CarouselContent.astro";

export interface Props {
  pages: {
    name: string;
    image: string;
    title?: string;
    description?: string;
  }[];
}

const { pages } = Astro.props;

---

<div
  style="--swiper-navigation-color: #000000; --swiper-pagination-color: #fff"
  class:list={[
    "swiper mySwiper max-w-screen-xl mx-auto w-full h-auto",
    `md:h-[250px] lg:h-[400px]`,
  ]}
>
  <div class="swiper-wrapper">
    {
      pages.map((page, i) => (
        <div class="swiper-slide relative">
          <figure class="right-0 top-0 z-0 m-0 md:absolute h-[150] w-[250] sm:h-full sm:w-full">
            <img
              src={page.image}
              alt={page.name}
              class="h-full w-full object-cover"
            />
          </figure>
          <div class="w-full h-full z-20 md:absolute md:right-0 md:w-1/2">
            <div class="mx-10 h-full">
              {i === 0 && <CarouselContent content={pages[0].content} />}
              {i === 1 && <CarouselContent content={pages[1].content} />}
              {i === 2 && <CarouselContent content={pages[2].content} />}
              {i === 3 && <CarouselContent content={pages[3].content} />}
            </div>
          </div>
        </div>
      ))
    }
  </div>
  <Icon pack="mdi" name="arrow-right" class="swiper-button-next" />
  <Icon pack="mdi" name="arrow-left" class="swiper-button-prev" />
  <div class="swiper-pagination"></div>
</div>

<!-- Swiper JS -->
<script>
  // @ts-ignore
  import Swiper from "swiper/bundle";

  // import Swiper styles
  import "swiper/css/bundle";

  new Swiper(".mySwiper", {
    cssMode: true,
    lazy: true,
    loop: true,
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    mousewheel: true,
    keyboard: true,
  });
</script>
