---
import QuoteForm from "./QuoteForm.astro";
import SpeedDial from "./SpeedDial.astro";
import DemoForm from "./DemoForm.astro";
import QuestionForm from "./QuestionForm.astro";
import Navegation from "./Navegation.astro";
const {categoryId,categoryName,subcategoryId,subcategoryName} = Astro.params;

const product = {
        "Referencia": "6151654180 ",
        "Modelo": "ELB12-600-P ",
        "Descripción": "Lightest tool & ergonomics",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "570 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "2.2-8.8 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Altura sin batería": "7 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELB12-600-P.jpg",
        "href": "/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654180/elb12-600-p"
    };

    const productAttributes = {
        categoryName, 
        categoryId,
        subcategoryName, 
        subcategoryId,
        productModelo : product.Modelo,
    }
const productDetails = Object.entries (product);

// productDetails.flatMap((detail)=>{
//     return detail[0] + ": " + detail[1];
// })

---
<article class="bg-white dark:bg-gray-800 p-10 w-full">
    
    <header>
        <Navegation productAttributes={productAttributes}>
    </header>

    <section>
        <article>
            <header>
                <h1 class="text-5xl font-extrabold">{product.Modelo}</h1>
            </header>

            
            <div>
                <SpeedDial />
                <figure>
                    <img title={product.Modelo} src={product.image} alt=`Herramienta industrial ${product.Modelo, product.Descripción} `
                    class="object-none h-48 w-auto ">
                </figure>
            </div>
    
            <ul class="[&>li]:py-2">
                <li><QuoteForm /></li>
                <li><DemoForm /></li>
                <li><QuestionForm /></li>
            </ul>
        </article>

        <article class="bg-slate-50 p-10 border w-full justify-self-center">
            <header class="pb-2">
                <h2 class="text-zinc-800 text-2xl font-bold">{product.Descripción}</h2>
            </header>
            <section>
                <article class="grid pb-6">
                    <section>
                        
                        <header class="text-zinc-800 text-xl text-center font-semibold border-b-4 mb-5 border-[#393939] hover:border-zinc-500">Descripción Técnica</header>
                        <div class="text-sm mb-4 hidden lg:block">
                            <p>Descubra todos nuestros {product.Modelo} productos de Desoutter Herramientas Industriales.</p>
                            <p>Encuentre toda la gama de {product.Modelo} productos y póngase en contacto con Desoutter Herramientas Industriales para una cita o una demostración.</p>
                        </div>

                        <table class="text-sm">
                            <tbody>
                                {productDetails.slice(0,-6).flatMap((detail)=>(
                                    <tr class="border-b border-black hover:bg-red-300">
                                        <th>{detail[0]}</th>
                                        <td>{detail[1]}</td>
                                    </tr>
                                ))}
                            </tbody>
                        </table>
                    </section>
                </article>
            </section>
        </article>
    </section>
</article>