---
import HeaderTools from "./HeaderTools.astro";
import ProductCard from "./ProductCard.astro";
import SubSubCategoryCard from "./SubSubCategoryCard.astro";

const { categoryId, subcategoryId } = Astro.params;
const { SubSubCategoriesAll } = Astro.props;

const CategoryId = Number(categoryId);
const SubCategoryId = Number(subcategoryId);

// console.log(CategoryId);
// console.log(SubCategoryId);

const subsubcategories = SubSubCategoriesAll.map((subsubcategories) =>
  subsubcategories.filter((subsubcategory) => {
    if (
      subsubcategory.categoryId === CategoryId &&
      subsubcategory.subcategoryId === SubCategoryId
    ) {
      return subsubcategory;
    }
  })
).flat();

// validación para verificar si hay modelos o [sub]categorias
const verifyProducts = subsubcategories.length <= 0;
// console.log(verifyProducts)

const ProductsAll = [
    {
        "Referencia": "6151654180 ",
        "Modelo": "ELB12-600-P ",
        "Descripción": "Lightest tool & ergonomics",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "570 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "2.2-8.8 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Altura sin batería": "7 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELB12-600-P.jpg",
        "href": "/herramientas/1/herramientas-de-montaje-de-bateria/1/serie-e-lit/p/6151654180/elb12-600-p"
    },
    {
        "Referencia": "6151654150",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Hex ",
        "A": "8.46 in",
        "Altura (Al)": "7.01 in",
        "Velocidad libre 18 V máx.": "1250 rpm",
        "Voltaje de batería": "18 V ",
        "Peso": "0.9 kg",
        "Torque mínimo de avance": "0.4 Nm",
        "Tipo de herramienta": "Pistol ",
        "Torque máximo de avance": "1.8 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/4 ",
        "Longitud (L)": "8.46 in",
        "Tipo de energía": "Battery ",
        "B": "7.01 in",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Velocidad libre": "1250 rpm",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELB2.5-1250-P.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654150/elb2-5-1250-p"
    },
    {
        "Referencia": "6151654400 ",
        "Modelo": "ELB6-670-P ",
        "Descripción": "Lightest tool & ergonomics",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "670 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "0.6-4.4 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Altura sin batería": "7 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELB6-670-P.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654400/elb6-670-p"
    },
    {
        "Referencia": "6151654160 ",
        "Modelo": "ELB6-900-P ",
        "Descripción": "Lightest tool & ergonomics",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "900 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "0.6-4.4 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Altura sin batería": "7 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELB6-900-P.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654160/elb6-900-p"
    },
    {
        "Referencia": "6151654170",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Hex ",
        "Altura (Al)": "7.01 in",
        "Velocidad libre 18 V máx.": "670 rpm",
        "Voltaje de batería": "18 V ",
        "Peso": "0.9 kg",
        "Torque mínimo de avance": "1.5 Nm",
        "Tipo de herramienta": "Pistol ",
        "Torque máximo de avance": "5.9 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/4 ",
        "Longitud (L)": "8.46 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELB8-670-P.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654170/elb8-670-p"
    },
    {
        "Referencia": "6151654220",
        "Tipo de batería": "Lithium-ion ",
        "Velocidad libre 18 V mín.": "250 rpm",
        "Tipo de accionamiento de salida": "Hex ",
        "Altura (Al)": "7.01 in",
        "Velocidad libre 18 V máx.": "570 rpm",
        "Voltaje de batería": "18 V ",
        "Peso": "0.9 kg",
        "Torque mínimo de avance": "3 Nm",
        "Tipo de herramienta": "Pistol ",
        "Torque máximo de avance": "8.9 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/4 ",
        "Longitud (L)": "8.46 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS12-600-P.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654220/els12-600-p"
    },
    {
        "Referencia": "6151658260",
        "Tipo de batería": "Lithium-ion ",
        "Velocidad libre 18 V mín.": "120 rpm",
        "Tipo de accionamiento de salida": "Sq ",
        "Altura (Al)": "7.01 in",
        "Velocidad libre 18 V máx.": "400 rpm",
        "Voltaje de batería": "18 V ",
        "Peso": "0.9 kg",
        "Torque mínimo de avance": "3 Nm",
        "Tipo de herramienta": "Pistol ",
        "Torque máximo de avance": "8.9 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/4 ",
        "Longitud (L)": "8.46 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS12-400-P4S.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151658260/els12-400-p4s"
    },
    {
        "Referencia": "6151654190 ",
        "Modelo": "ELS2.5-1550-P ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "500-1550 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "0.3 - 1.8 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Altura sin batería": "7 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS2.5-1550-P.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654190/els2-5-1550-p"
    },
    {
        "Referencia": "6151654200 ",
        "Modelo": "ELS6-1000-P ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "300-1000 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "0.6-4.4 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Altura sin batería": "7 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS6-1000-P.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654200/els6-1000-p"
    },
    {
        "Referencia": "6151654210",
        "Tipo de batería": "Lithium-ion ",
        "Velocidad libre 18 V mín.": "300 rpm",
        "Tipo de accionamiento de salida": "Hex ",
        "Altura (Al)": "7.01 in",
        "Velocidad libre 18 V máx.": "765 rpm",
        "Voltaje de batería": "18 V ",
        "Peso": "0.9 kg",
        "Torque mínimo de avance": "1.5 Nm",
        "Tipo de herramienta": "Pistol ",
        "Torque máximo de avance": "5.9 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/4 ",
        "Longitud (L)": "8.46 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS8-800-P.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654210/els8-800-p"
    },
    {
        "Referencia": "6151656050 ",
        "Modelo": "ELS8-400-P ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "120-400 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "1.1-5.9 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Altura sin batería": "7 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS8-400-P.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151656050/els8-400-p"
    },
    {
        "Referencia": "6151658250 ",
        "Modelo": "ELS8-400-P4S ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "Sq. 1/4\" M ",
        "velocidad libre": "120-400 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "1.1-5.9 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Altura sin batería": "7 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS8-400-P4S.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151658250/els8-400-p4s"
    },
    {
        "Referencia": "6151656280 ",
        "Modelo": "ELS7-880-A ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "400-880 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "1.1-5.1 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS7-880-A.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151656280/els7-880-a"
    },
    {
        "Referencia": "6151657250",
        "Tipo de batería": "Lithium-ion ",
        "Velocidad libre 18 V mín.": "120 rpm",
        "Tipo de accionamiento de salida": "Sq ",
        "Altura (Al)": "7.01 in",
        "Velocidad libre 18 V máx.": "360 rpm",
        "Voltaje de batería": "18 V ",
        "Peso": "1.2 kg",
        "Torque mínimo de avance": "2.5 Nm",
        "Tipo de herramienta": "Angle head ",
        "Torque máximo de avance": "5.2 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/4 ",
        "Longitud (L)": "17.24 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS7-360-A4S.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657250/els7-360-a4s"
    },
    {
        "Referencia": "6151658880 ",
        "Modelo": "ELS7-880-A10S ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "440-880 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "1.1-5.1 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS7-880-A10S.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151658880/els7-880-a10s"
    },
    {
        "Referencia": "6151656290 ",
        "Modelo": "ELS15-480-A ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "200-480 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "3.7-11 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS15-480-A.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151656290/els15-480-a"
    },
    {
        "Referencia": "6151658390 ",
        "Modelo": "ELS15-480-A4S ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "Sq. 1/4\" M ",
        "velocidad libre": "200-480 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "3.7-11 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS15-480-A4S.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151658390/els15-480-a4s"
    },
    {
        "Referencia": "6151656300 ",
        "Modelo": "ELS30-300-A ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "100-300 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "7.4-22.2 ft.lbs",
        "Peso neto": "3.3 lb",
        "Longitud": "19.53 \"",
        "Peso sin batería": "3.39 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS30-300-A.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151656300/els30-300-a"
    },
    {
        "Referencia": "6151656310 ",
        "Modelo": "ELS45-180-A ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "50-180 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "14.8-33.3 ft.lbs",
        "Peso neto": "3.3 lb",
        "Longitud": "19.95 \"",
        "Peso sin batería": "3.63 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS45-180-A.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151656310/els45-180-a"
    },
    {
        "Referencia": "6151657010 ",
        "Modelo": "ELC6-1000-P-Z ",
        "Descripción": "OK/NOK wireless report to E-LIT BOX",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "300-1000 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "1.1-4.4 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Altura sin batería": "7 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC6-1000-P-Z.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657010/elc6-1000-p-z"
    },
    {
        "Referencia": "6151657020",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Hex ",
        "Altura (Al)": "7.01 in",
        "Voltaje de batería": "18 V ",
        "Peso": "0.8 kg",
        "Torque mínimo de avance": "3 Nm",
        "Tipo de herramienta": "Pistol ",
        "Torque máximo de avance": "5.9 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/4 ",
        "Longitud (L)": "8.46 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC8-400-P-Z.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657020/elc8-400-p-z"
    },
    {
        "Referencia": "6151657030",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Hex ",
        "Altura (Al)": "7.01 in",
        "Voltaje de batería": "18 V ",
        "Peso": "0.8 kg",
        "Torque mínimo de avance": "3 Nm",
        "Tipo de herramienta": "Pistol ",
        "Torque máximo de avance": "5.9 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/4 ",
        "Longitud (L)": "8.46 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC8-800-P-Z.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657030/elc8-800-p-z"
    },
    {
        "Referencia": "6151657040 ",
        "Modelo": "ELC12-600-P-Z ",
        "Descripción": "OK/NOK wireless report to E-LIT BOX",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "250-570 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "1.1-8.8 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Altura sin batería": "7 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC12-600-P-Z.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657040/elc12-600-p-z"
    },
    {
        "Referencia": "6151657070 ",
        "Modelo": "ELC7-880-A-Z ",
        "Descripción": "OK/NOK wireless report to E-LIT BOX",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "400-880 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "1.1-5.1 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC7-880-A-Z.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657070/elc7-880-a-z"
    },
    {
        "Referencia": "6151657260 ",
        "Modelo": "ELC7-360-A4S-Z ",
        "Descripción": "OK/NOK wireless report to E-LIT BOX",
        "Salida Hex": "Sq. 1/4\" M ",
        "velocidad libre": "120-360 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "1.1-5.1 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC7-360-A4S-Z.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657260/elc7-360-a4s-z"
    },
    {
        "Referencia": "6151658400 ",
        "Modelo": "ELC15-480-A4S-Z ",
        "Descripción": "OK/NOK wireless report to E-LIT BOX",
        "Salida Hex": "Sq. 1/4\" M ",
        "velocidad libre": "200-480 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "3.7-11 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC15-480-A4S-Z.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151658400/elc15-480-a4s-z"
    },
    {
        "Referencia": "6151657080 ",
        "Modelo": "ELC15-480-A-Z ",
        "Descripción": "OK/NOK wireless report to E-LIT BOX",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "200-480 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "3.7-11 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC15-480-A-Z.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657080/elc15-480-a-z"
    },
    {
        "Referencia": "6151657090 ",
        "Modelo": "ELC30-300-A-Z ",
        "Descripción": "OK/NOK wireless report to E-LIT BOX",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "100-300 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "7.4-22.2 ft.lbs",
        "Peso neto": "3.3 lb",
        "Longitud": "19.53 \"",
        "Peso sin batería": "3.39 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC30-300-A-Z.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657090/elc30-300-a-z"
    },
    {
        "Referencia": "6151657100 ",
        "Modelo": "ELC45-180-A-Z ",
        "Descripción": "OK/NOK wireless report to E-LIT BOX",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "50-180 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "14.8-33.3 ft.lbs",
        "Peso neto": "3.3 lb",
        "Longitud": "19.95 \"",
        "Peso sin batería": "3.63 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC45-180-A-Z.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657100/elc45-180-a-z"
    },
    {
        "Referencia": "6159363100 ",
        "Modelo": "E-LIT BOX V2 ",
        "Descripción": "up to 4 different batch count / Offline mode / Cross thread prevention",
        "rango de torque": "1.1-60 ft.lbs",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/E-LIT%20BOX%20V2.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6159363100/e-lit-box-v2"
    },
    {
        "Referencia": "6151656320 ",
        "Modelo": "ELS 60-160-A ",
        "Descripción": "Lightest tool & speed regulation",
        "Salida Hex": "Sq. 1/2'' ",
        "velocidad libre": "50-160 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "18.44-44.2 ft.lbs",
        "Peso neto": "4.33 lb",
        "Longitud": "20.44 \"",
        "Peso sin batería": "4.33 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELS%2060-160-A.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151656320/els-60-160-a"
    },
    {
        "Referencia": "6151657110 ",
        "Modelo": "ELC 60-160-A ",
        "Descripción": "OK/NOK wireless report to E-LIT BOX",
        "Salida Hex": "Sq. 1/2'' ",
        "velocidad libre": "50-160 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "18.44-44.2 ft.lbs",
        "Peso neto": "4.33 lb",
        "Longitud": "20.44 \"",
        "Peso sin batería": "4.33 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 1,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC%2060-160-A.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657110/elc-60-160-a"
    },
    {
        "Referencia": "6151661000 ",
        "Modelo": "ELC 6-1000-P-W ",
        "Descripción": "OK/NOK wireless report to CONNECT",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "300-1000 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "0.6-4.4 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 2,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC%206-1000-P-W.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/16/herramientas-de-bateria-de-embrague-inalambricas-e-lit/p/6151661000/elc-6-1000-p-w"
    },
    {
        "Referencia": "6151661010 ",
        "Modelo": "ELC 8-400-P-W ",
        "Descripción": "OK/NOK wireless report to CONNECT",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "120-400 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "1.1-5.9 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 2,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC%208-400-P-W.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/16/herramientas-de-bateria-de-embrague-inalambricas-e-lit/p/6151661010/elc-8-400-p-w"
    },
    {
        "Referencia": "6151661020 ",
        "Modelo": "ELC 8-800-P-W ",
        "Descripción": "OK/NOK wireless report to CONNECT",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "300-765 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "1.1-5.9 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 2,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC%208-800-P-W.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/16/herramientas-de-bateria-de-embrague-inalambricas-e-lit/p/6151661020/elc-8-800-p-w"
    },
    {
        "Referencia": "6151661030 ",
        "Modelo": "ELC 12-600-P-W ",
        "Descripción": "OK/NOK wireless report to CONNECT",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "250-570 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "2.2-8.8 ft.lbs",
        "Peso neto": "1.76 lb",
        "Longitud": "8.46 \"",
        "Peso sin batería": "1.76 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 2,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC%2012-600-P-W.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/16/herramientas-de-bateria-de-embrague-inalambricas-e-lit/p/6151661030/elc-12-600-p-w"
    },
    {
        "Referencia": "6151661040 ",
        "Modelo": "ELC7-360-A4S-W ",
        "Descripción": "OK/NOK wireless report to CONNECT",
        "Salida Hex": "Sq. 1/4\" M ",
        "velocidad libre": "120-360 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "1.1-5.1 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 2,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC7-360-A4S-W.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/16/herramientas-de-bateria-de-embrague-inalambricas-e-lit/p/6151661040/elc7-360-a4s-w"
    },
    {
        "Referencia": "6151661050 ",
        "Modelo": "ELC7-880-A-W ",
        "Descripción": "OK/NOK wireless report to CONNECT",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "200-480 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "1.1-5.1 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 2,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC7-880-A-W.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/16/herramientas-de-bateria-de-embrague-inalambricas-e-lit/p/6151661050/elc7-880-a-w"
    },
    {
        "Referencia": "6151661060 ",
        "Modelo": "ELC15-480-A-W ",
        "Descripción": "OK/NOK wireless report to CONNECT",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "200-480 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "3.7-11 ft.lbs",
        "Peso neto": "2.6 lb",
        "Longitud": "17.23 \"",
        "Peso sin batería": "2.57 lb",
        "Voltage de bateria": "18 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 2,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC15-480-A-W.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/16/herramientas-de-bateria-de-embrague-inalambricas-e-lit/p/6151661060/elc15-480-a-w"
    },
    {
        "Referencia": "6151661070 ",
        "Modelo": "ELC30-300-A-W ",
        "Descripción": "OK/NOK wireless report to CONNECT",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "100-300 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "7.4-22.2 ft.lbs",
        "Peso neto": "3.3 lb",
        "Longitud": "19.53 \"",
        "Peso sin batería": "3.39 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 2,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC30-300-A-W.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/16/herramientas-de-bateria-de-embrague-inalambricas-e-lit/p/6151661070/elc30-300-a-w"
    },
    {
        "Referencia": "6151661080 ",
        "Modelo": "ELC45-180-A-W ",
        "Descripción": "OK/NOK wireless report to CONNECT",
        "Salida Hex": "Sq. 3/8\" M ",
        "velocidad libre": "50-180 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "14.8-33.3 ft.lbs",
        "Peso neto": "3.3 lb",
        "Longitud": "19.95 \"",
        "Peso sin batería": "3.63 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 2,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC45-180-A-W.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/16/herramientas-de-bateria-de-embrague-inalambricas-e-lit/p/6151661080/elc45-180-a-w"
    },
    {
        "Referencia": "6151661090 ",
        "Modelo": "ELC60-160-A-W ",
        "Descripción": "OK/NOK wireless report to CONNECT",
        "Salida Hex": "Sq. 1/2'' ",
        "velocidad libre": "50-160 rpm",
        "Tipo de herramienta": "Angle Head ",
        "rango de torque": "18.44-44.2 ft.lbs",
        "Peso neto": "4.33 lb",
        "Longitud": "20.44 \"",
        "Peso sin batería": "4.33 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 2,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/ELC60-160-A-W.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/16/herramientas-de-bateria-de-embrague-inalambricas-e-lit/p/6151661090/elc60-160-a-w"
    },
    {
        "Referencia": "6159276850 ",
        "Modelo": "Elit PC Software ",
        "Descripción": "Able to set tools one by one and get data",
        "Beneficios": "Add traceability to your Elit tools",
        "Caracteristicas": "License 1",
        "categoryId": 1,
        "subcategoryId": 3,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/Elit%20PC%20Software.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/167/plataforma-e-lit/p/6159276850/elit-pc-software"
    },
    {
        "Referencia": "6151657310 ",
        "Modelo": "EAB 15-900 ",
        "Descripción": "Full stand alone transducerized ",
        "Salida Hex": "Sq. 1/4 ",
        "velocidad libre": "900 rpm",
        "Tipo de herramienta": "cabeza angular ",
        "rango de torque": "13-2.2 ft.lbs",
        "Longitud": "18.5 \"",
        "Altura sin batería": "1.7 \"",
        "Peso sin batería": "3.42 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EAB%2015-900.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151657310/eab-15-900"
    },
    {
        "Referencia": "6151657320 ",
        "Modelo": "EAB 26-560 ",
        "Descripción": "Full stand alone transducerized ",
        "Salida Hex": "Sq. 3/8 ",
        "velocidad libre": "560 rpm",
        "Tipo de herramienta": "cabeza angular ",
        "rango de torque": "3.7-19 ft.lbs",
        "Longitud": "19.5 \"",
        "Altura sin batería": "1.8 \"",
        "Peso sin batería": "3.64 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EAB%2026-560.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151657320/eab-26-560"
    },
    {
        "Referencia": "6151657330 ",
        "Modelo": "EAB 32-410 ",
        "Descripción": "Full stand alone transducerized ",
        "Salida Hex": "Sq. 3/8 ",
        "velocidad libre": "410 rpm",
        "Tipo de herramienta": "cabeza angular ",
        "rango de torque": "5.2-24 ft.lbs",
        "Longitud": "19.5 \"",
        "Altura sin batería": "1.8 \"",
        "Peso sin batería": "3.64 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EAB%2032-410.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151657330/eab-32-410"
    },
    {
        "Referencia": "6151657340 ",
        "Modelo": "EAB 45-330 ",
        "Descripción": "Full stand alone transducerized ",
        "Salida Hex": "Sq. 3/8 ",
        "velocidad libre": "330 rpm",
        "Tipo de herramienta": "cabeza angular ",
        "rango de torque": "6.6-33 ft.lbs",
        "Longitud": "19.9 \"",
        "Altura sin batería": "2 \"",
        "Peso sin batería": "3.88 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EAB%2045-330.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151657340/eab-45-330"
    },
    {
        "Referencia": "6151657350 ",
        "Modelo": "EAB 50-450 ",
        "Descripción": "Full stand alone transducerized ",
        "Salida Hex": "Sq. 3/8 ",
        "velocidad libre": "450 rpm",
        "Tipo de herramienta": "cabeza angular ",
        "rango de torque": "6.6-37 ft.lbs",
        "Longitud": "21.5 \"",
        "Altura sin batería": "2 \"",
        "Peso sin batería": "4.5 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EAB%2050-450.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151657350/eab-50-450"
    },
    {
        "Referencia": "6151657360 ",
        "Modelo": "EAB 60-370 ",
        "Descripción": "Full stand alone transducerized ",
        "Salida Hex": "Sq. 1/2 ",
        "velocidad libre": "370 rpm",
        "Tipo de herramienta": "cabeza angular ",
        "rango de torque": "7.4-44 ft.lbs",
        "Longitud": "22 \"",
        "Altura sin batería": "2.2 \"",
        "Peso sin batería": "5.18 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EAB%2060-370.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151657360/eab-60-370"
    },
    {
        "Referencia": "6151657370",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Sq ",
        "Altura (Al)": "2.36 in",
        "Voltaje de batería": "36 V ",
        "Peso": "2.94 kg",
        "Torque mínimo de avance": "12 Nm",
        "Par recomendado": "70 Nm",
        "Tipo de herramienta": "Angle head ",
        "Torque máximo de avance": "55.3 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/2 ",
        "Velocidad libre 36 V máx.": "300 rpm",
        "Longitud (L)": "22.91 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EAB%2075-300.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151657370/eab-75-300"
    },
    {
        "Referencia": "6151657380",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Sq ",
        "Altura (Al)": "2.36 in",
        "Voltaje de batería": "36 V ",
        "Peso": "2.98 kg",
        "Torque mínimo de avance": "19 Nm",
        "Par recomendado": "90 Nm",
        "Tipo de herramienta": "Angle head ",
        "Torque máximo de avance": "70.1 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/2 ",
        "Velocidad libre 36 V máx.": "240 rpm",
        "Longitud (L)": "22.91 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EAB%2095-240.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151657380/eab-95-240"
    },
    {
        "Referencia": "6151659610",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Hex ",
        "Altura (Al)": "1.33 in",
        "Voltaje de batería": "36 V ",
        "Peso": "1.55 kg",
        "Torque mínimo de avance": "5 Nm",
        "Par recomendado": "13 Nm",
        "Tipo de herramienta": "Angle head ",
        "Torque máximo de avance": "11.1 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/4 ",
        "Velocidad libre 36 V máx.": "900 rpm",
        "Longitud (L)": "18.5 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EABA%2015-900.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151659610/eaba-15-900"
    },
    {
        "Referencia": "6151659620",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Sq ",
        "Altura (Al)": "1.81 in",
        "Voltaje de batería": "36 V ",
        "Peso": "1.65 kg",
        "Torque mínimo de avance": "5 Nm",
        "Par recomendado": "24 Nm",
        "Tipo de herramienta": "Angle head ",
        "Torque máximo de avance": "19.2 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "3/8 ",
        "Velocidad libre 36 V máx.": "560 rpm",
        "Longitud (L)": "19.53 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EABA%2026-560.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151659620/eaba-26-560"
    },
    {
        "Referencia": "6151659630 ",
        "Modelo": "EABA 32-410 ",
        "Descripción": "6 Pset / angle strategy / 10 000 results",
        "Salida Hex": "Sq. 3/8 ",
        "velocidad libre": "410 rpm",
        "Tipo de herramienta": "cabeza angular ",
        "rango de torque": "5.2-24 ft.lbs",
        "Longitud": "19.5 \"",
        "Altura sin batería": "1.8 \"",
        "Peso sin batería": "3.64 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EABA%2032-410.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151659630/eaba-32-410"
    },
    {
        "Referencia": "6151659640 ",
        "Modelo": "EABA 45-330 ",
        "Descripción": "6 Pset / angle strategy / 10 000 results",
        "Salida Hex": "Sq. 3/8 ",
        "velocidad libre": "330 rpm",
        "Tipo de herramienta": "cabeza angular ",
        "rango de torque": "6.6-33 ft.lbs",
        "Longitud": "19.9 \"",
        "Altura sin batería": "2 \"",
        "Peso sin batería": "3.88 lb",
        "Voltage de bateria": "36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EABA%2045-330.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151659640/eaba-45-330"
    },
    {
        "Referencia": "6151659650",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Sq ",
        "Altura (Al)": "2.01 in",
        "Voltaje de batería": "36 V ",
        "Peso": "2.04 kg",
        "Torque mínimo de avance": "9 Nm",
        "Par recomendado": "45 Nm",
        "Tipo de herramienta": "Angle head ",
        "Torque máximo de avance": "36.9 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "3/8 ",
        "Velocidad libre 36 V máx.": "450 rpm",
        "Longitud (L)": "21.5 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EABA%2050-450.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151659650/eaba-50-450"
    },
    {
        "Referencia": "6151659660",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Sq ",
        "Altura (Al)": "2.24 in",
        "Voltaje de batería": "36 V ",
        "Peso": "2.35 kg",
        "Torque mínimo de avance": "10 Nm",
        "Par recomendado": "55 Nm",
        "Tipo de herramienta": "Angle head ",
        "Torque máximo de avance": "44.3 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/2 ",
        "Velocidad libre 36 V máx.": "370 rpm",
        "Longitud (L)": "22.01 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EABA%2060-370.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151659660/eaba-60-370"
    },
    {
        "Referencia": "6151659670",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Sq ",
        "Altura (Al)": "2.36 in",
        "Voltaje de batería": "36 V ",
        "Peso": "2.94 kg",
        "Torque mínimo de avance": "12 Nm",
        "Par recomendado": "70 Nm",
        "Tipo de herramienta": "Angle head ",
        "Torque máximo de avance": "55.3 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/2 ",
        "Velocidad libre 36 V máx.": "300 rpm",
        "Longitud (L)": "22.91 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EABA%2075-300.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151659670/eaba-75-300"
    },
    {
        "Referencia": "6151659680",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Sq ",
        "Altura (Al)": "2.36 in",
        "Voltaje de batería": "36 V ",
        "Peso": "2.98 kg",
        "Torque mínimo de avance": "19 Nm",
        "Par recomendado": "90 Nm",
        "Tipo de herramienta": "Angle head ",
        "Torque máximo de avance": "70.1 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/2 ",
        "Velocidad libre 36 V máx.": "240 rpm",
        "Longitud (L)": "22.91 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EABA%2095-240.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151659680/eaba-95-240"
    },
    {
        "Referencia": "6151658990",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Hex ",
        "Altura (Al)": "8.11 in",
        "Velocidad libre 18 V máx.": "900 rpm",
        "Voltaje de batería": "36 V,18 V ",
        "Peso": "1 kg",
        "Torque mínimo de avance": "1.5 Nm",
        "Par recomendado": "7 Nm",
        "Tipo de herramienta": "Pistol ",
        "Torque máximo de avance": "5.9 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "1/4 ",
        "Velocidad libre 36 V máx.": "1800 rpm",
        "Longitud (L)": "8.94 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EPB%208-1800-4Q.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151658990/epb-8-1800-4q"
    },
    {
        "Referencia": "6151659030",
        "Tipo de batería": "Lithium-ion ",
        "Tipo de accionamiento de salida": "Sq ",
        "Altura (Al)": "8.11 in",
        "Velocidad libre 18 V máx.": "1800 rpm",
        "Voltaje de batería": "18 V,36 V ",
        "Peso": "1 kg",
        "Torque mínimo de avance": "1.5 Nm",
        "Par recomendado": "7 Nm",
        "Tipo de herramienta": "Pistol ",
        "Torque máximo de avance": "5.9 ft.lbf",
        "Tamaño de la unidad de salida (pulg)": "3/8 ",
        "Velocidad libre 36 V máx.": "900 rpm",
        "Longitud (L)": "8.94 in",
        "Tipo de energía": "Battery ",
        "Sistema de arranque": "Trigger ",
        "ATEX": "No ",
        "Sistema de accionamiento": "Continuous ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EPB%208-1800-10S.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151659030/epb-8-1800-10s"
    },
    {
        "Referencia": "6151659780 ",
        "Modelo": "EPB 14-900-4Q ",
        "Descripción": "Full stand alone transducerized ",
        "Salida Hex": "HEX. 1/4\" F ",
        "velocidad libre": "940 rpm",
        "Tipo de herramienta": "Pistola ",
        "rango de torque": "2.4-10.3 ft.lbs",
        "Longitud": "8.94 \"",
        "Altura sin batería": "8.11 \"",
        "Peso sin batería": "2.2 lb",
        "Voltage de bateria": "18/36 V",
        "Tipo de Batería": "Li-ion ",
        "categoryId": 1,
        "subcategoryId": 4,
        "subSubcategoryId": null,
        "subSubSubcategoryId": null,
        "image": "https://www.desouttertools.mx/media/cache/thumb_1140x400_tools/uploads/catalog/products/EPB%2014-900-4Q.jpg",
        "href": "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/18/serie-b-flex/p/6151659780/epb-14-900-4q"
    },
];

const products = [];
// si verfyProducts es true
if (verifyProducts) {
  // filtras los productos que coinciden con la categoría y la subcategoría
  const filteredProducts = ProductsAll.filter((product) => {
    if (
      product.categoryId === CategoryId &&
      product.subcategoryId === SubCategoryId
    ) {
      return product;
    }
  });
  // usas el método push para agregar los productos filtrados al arreglo vacío de products
  // usas el operador de propagación para pasar cada elemento del arreglo filtrado como un argumento
  products.push(...filteredProducts);
}

// console.log(products);


export const prerender = true;
---

<article>
  
  {
    verifyProducts === true ? (
      <HeaderTools tools={products} />
      <div class="content-center grid grid-cols-1 xl:grid-cols-4 justify-items-center gap-4">
        {products.map((product)=>(
        <ProductCard key={product.Referencia} product={product} />
      ))}
      </div>
    ) : (
      <HeaderTools tools={subsubcategories} />
      <div class="content-center grid grid-cols-1 xl:grid-cols-4 justify-items-center gap-4">
        {subsubcategories.map((subsubcategory) => (
          <SubSubCategoryCard
            key={subsubcategory.id}
            subsubcategory={subsubcategory}
          />
        ))}
      </div>
    )
  }
</article>
