---
import HeaderTools from "./HeaderTools.astro";
import ProductCard from "./ProductCard.astro";
import SubSubCategoryCard from "./SubSubCategoryCard.astro";

const { categoryId, subcategoryId } = Astro.params;
const { SubSubCategoriesAll } = Astro.props;

const CategoryId = Number(categoryId);
const SubCategoryId = Number(subcategoryId);

// console.log(CategoryId);
// console.log(SubCategoryId);

const subsubcategories = SubSubCategoriesAll.map((subsubcategories) =>
  subsubcategories.filter((subsubcategory) => {
    if (
      subsubcategory.categoryId === CategoryId &&
      subsubcategory.subcategoryId === SubCategoryId
    ) {
      return subsubcategory;
    }
  })
).flat();

// validación para verificar si hay modelos o [sub]categorias
const verifyProducts = subsubcategories.length <= 0;
// console.log(verifyProducts)

const ProductsAll = [
  {
    Referencia: "6151654180 ",
    Modelo: "ELB12-600-P ",
    Descripcin: "Lightest tool & ergonomics",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "570 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "2.2-8.8 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654180/elb12-600-p",
  },
  {
    Referencia: "6151654150 ",
    Modelo: "ELB2.5-1250-P ",
    Descripcin: "Lightest tool & ergonomics",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "1250 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "0.3-1.8 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654150/elb2-5-1250-p",
  },
  {
    Referencia: "6151654400 ",
    Modelo: "ELB6-670-P ",
    Descripcin: "Lightest tool & ergonomics",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "670 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "0.6-4.4 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654400/elb6-670-p",
  },
  {
    Referencia: "6151654160 ",
    Modelo: "ELB6-900-P ",
    Descripcin: "Lightest tool & ergonomics",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "900 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "0.6-4.4 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654160/elb6-900-p",
  },
  {
    Referencia: "6151654170 ",
    Modelo: "ELB8-670-P ",
    Descripcin: "Lightest tool & ergonomics",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "670 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "1.1-5.9 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654170/elb8-670-p",
  },
  {
    Referencia: "6151654220 ",
    Modelo: "ELS12-600-P ",
    Descripcin: "Lightest tool & speed regulation",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "250-570 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "2.2-8.8 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654220/els12-600-p",
  },
  {
    Referencia: "6151658260 ",
    Modelo: "ELS12-400-P4S ",
    Descripcin: "Lightest tool & speed regulation",
    SalidaHex: 'Sq. 1/4" M ',
    velocidadlibre: "120-400 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "2.2-8.8 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151658260/els12-400-p4s",
  },
  {
    Referencia: "6151654190 ",
    Modelo: "ELS2.5-1550-P ",
    Descripcin: "Lightest tool & speed regulation",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "500-1550 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "0.3 - 1.8 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654190/els2-5-1550-p",
  },
  {
    Referencia: "6151654200 ",
    Modelo: "ELS6-1000-P ",
    Descripcin: "Lightest tool & speed regulation",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "300-1000 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "0.6-4.4 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654200/els6-1000-p",
  },
  {
    Referencia: "6151654210 ",
    Modelo: "ELS8-800-P ",
    Descripcin: "Lightest tool & speed regulation",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "300-765 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "1.1-5.9 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151654210/els8-800-p",
  },
  {
    Referencia: "6151656050 ",
    Modelo: "ELS8-400-P ",
    Descripcin: "Lightest tool & speed regulation",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "120-400 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "1.1-5.9 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151656050/els8-400-p",
  },
  {
    Referencia: "6151658250 ",
    Modelo: "ELS8-400-P4S ",
    Descripcin: "Lightest tool & speed regulation",
    SalidaHex: 'Sq. 1/4" M ',
    velocidadlibre: "120-400 rpm",
    Tipodeherramienta: "Pistola ",
    rangodetorque: "1.1-5.9 ft.lbs",
    Pesoneto: "1.76 lb",
    Longitud: '8.46 "',
    Alturasinbatera: '7 "',
    Pesosinbatera: "1.76 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151658250/els8-400-p4s",
  },
  {
    Referencia: "6151656280 ",
    Modelo: "ELS7-880-A ",
    Descripcin: "Lightest tool & speed regulation",
    SalidaHex: 'HEX. 1/4" F ',
    velocidadlibre: "400-880 rpm",
    Tipodeherramienta: "Angle Head ",
    rangodetorque: "1.1-5.1 ft.lbs",
    Pesoneto: "2.6 lb",
    Longitud: '17.23 "',
    Pesosinbatera: "2.57 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151656280/els7-880-a",
  },
  {
    Referencia: "6151657250 ",
    Modelo: "ELS7-360-A4S ",
    Descripcin: "Lightest tool & speed regulation",
    SalidaHex: 'Sq. 1/4" M ',
    velocidadlibre: "120-360 rpm",
    Tipodeherramienta: "Angle Head ",
    rangodetorque: "1.1-5.1 ft.lbs",
    Pesoneto: "2.6 lb",
    Longitud: '17.23 "',
    Pesosinbatera: "2.57 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151657250/els7-360-a4s",
  },
  {
    Referencia: "6151658880 ",
    Modelo: "ELS7-880-A10S ",
    Descripcin: "Lightest tool & speed regulation",
    SalidaHex: 'Sq. 3/8" M ',
    velocidadlibre: "440-880 rpm",
    Tipodeherramienta: "Angle Head ",
    rangodetorque: "1.1-5.1 ft.lbs",
    Pesoneto: "2.6 lb",
    Longitud: '17.23 "',
    Pesosinbatera: "2.57 lb",
    Voltagedebateria: "18 V",
    TipodeBatera: "Li-ion ",
    categoryId: 1,
    subcategoryId: 1,
    subSubcategoryId: null,
    subSubSubcategoryId: null,
    href: "https://www.desouttertools.mx/herramientas/1/herramientas-de-montaje-de-bateria/17/serie-e-lit/p/6151658880/els7-880-a10s",
  },
];

const products = [];
// si verfyProducts es true
if (verifyProducts) {
  // filtras los productos que coinciden con la categoría y la subcategoría
  const filteredProducts = ProductsAll.filter((product) => {
    if (
      product.categoryId === CategoryId &&
      product.subcategoryId === SubCategoryId
    ) {
      return product;
    }
  });
  // usas el método push para agregar los productos filtrados al arreglo vacío de products
  // usas el operador de propagación para pasar cada elemento del arreglo filtrado como un argumento
  products.push(...filteredProducts);
}

// console.log(products);


export const prerender = true;
---

<article>
  
  {
    verifyProducts === true ? (
      <HeaderTools tools={products} />
      <div class="content-centerw-full grid grid-cols-1 xl:grid-cols-4 justify-items-center gap-4">
        {products.map((product)=>(
        <ProductCard key={product.Referencia} product={product} />
      ))}
      </div>
    ) : (
      <HeaderTools tools={subsubcategories} />
      <div class="content-centerw-full grid grid-cols-1 xl:grid-cols-4 justify-items-center gap-4">
        {subsubcategories.map((subsubcategory) => (
          <SubSubCategoryCard
            key={subsubcategory.id}
            subsubcategory={subsubcategory}
          />
        ))}
      </div>
    )
  }
</article>
