---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import HeaderBanner from "../../components/servicios/HeaderBanner.astro";

const image = "https://s3.amazonaws.com/desumex.com.mx/servicios/servicios.avif";

const frontmatter = {
  title: "Nuestros Servicios | Desoutter México",
  description: "Descubre los servicios de Desoutter México. Potenciamos tu éxito con herramientas de ensamblaje e innovación industrial. Conoce cómo nuestros servicios pueden impulsar la eficiencia en tu proceso de fabricación.",
  keywords: ["Desoutter México", "Servicios Industriales", "Herramientas de Ensamblaje", "Innovación Industrial", "Eficiencia en Fabricación", "Soluciones a Medida"],
  name: "Desoutter México",
  language: "es",
  url: "URL_canónica_de_la_Página",
  facebookTitle: "Descubre Nuestros Servicios",
  facebookDescription: "Explora los servicios personalizados de Desoutter México. Desde herramientas de ensamblaje hasta soluciones industriales, te ofrecemos lo mejor para potenciar la eficiencia en tu fabricación.",
  facebookImage: image,
  facebookURL: "URL_canónica_de_la_Página_para_Facebook",
  twitterTitle: "Servicios de Desoutter México",
  twitterDescription: "Descubre cómo los servicios de Desoutter México pueden potenciar tu éxito en la fabricación. Herramientas de ensamblaje y soluciones industriales a medida para mejorar la eficiencia.",
  twitterImage: image
};

const services = await getCollection("servicio");
---

<Base frontmatter={frontmatter}>
  <header class="sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16">
    <HeaderBanner
      title="Servicios Industriales"
      subtitle="Excelencia e innovación profesional"
      description="¿Busca optimizar las operaciones y cumplir con los más altos estándares en sus procesos de manufactura o ensamblaje? Nuestros servicios especializados en calibración, capacitación y mantenimiento de herramientas de torque son la solución."
      image={image}
    />
  </header>
  <section class="mt-8 bg-gray-100 dark:bg-gray-900 sm:mx-5 sm:my-5 md:mx-10 md:my-10 lg:mx-20 lg:my-16">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl pb-16 sm:pb-32 lg:max-w-none lg:pb-24">
        <div
          class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0"
        >
          {
            services.map((service) => (
            <a href={`${import.meta.env.BASE_URL}servicios/${service.slug}/`}>
              <article class="group relative">
                <figure class="relative mb-4 h-full w-full overflow-hidden bg-red-100 sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 dark:bg-red-600 sm:h-64">
                  <img
                    src={service.data.image}
                    alt={service.data.description}
                    class="h-full w-full object-cover object-center"
                    loading="lazy"
                  />
                </figure>
                <h3 class="inline-block rounded bg-red-600 px-3 py-1 text-xs font-medium uppercase tracking-tight text-white hover:bg-slate-600">
                    {service.data.title}
                </h3>
                <p class="text-base text-gray-900 dark:text-gray-400">
                  {service.data.description}
                </p>
              </article>
            </a>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Base>
